﻿
/*{
    box-sizing: border-box
}

body {
    font-family: "Lato", sans-serif;
}

/* Style the tab */
/*.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}*/

    /* Style the buttons inside the tab */
    /*.tab button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
    }*/

        /* Change background color of buttons on hover */
        /*.tab button:hover {
            background-color: #ddd;
        }*/

        /* Create an active/current "tab button" class */
        /*.tab button.active {
            background-color: #ccc;
        }*/

/* Style the tab content */
/*.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
    display:none;
}*/
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/*.active, .collapsible:hover {
  background-color: #555;
}*/

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
    filter: none !important;
}

.gallerycon {
    position: absolute;
    top: 30%;
    right: 40%;
    z-index: 3;
    width: 60%;
    height: 400px;
}
.nav_selected {
   
    padding: 8px,15px;
    text-decoration: none;
    font-weight:bolder;
    border-right: 1px,solid #ccc;
    color: #ccc!important;
   
}
