﻿@model Archer.Models.TestmonialModel
<div class="row form-group">
    <div class="col-md-6">
        <label>Name<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" , autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>
            Via<span class="text-danger"> *</span>
        </label>
        @Html.TextBoxFor(x => x.Via, new { @class = "form-control" , autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.Via, "", new { @class = "text-danger" })
    </div>
    </div>
<div class="row form-group">
    <div class="col-md-6">
        <label>Desription<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.Label("Testimonial Images")
    @if (Model != null)
    {
        if (!string.IsNullOrEmpty(Model.Image)) 
        {
            <img src="@Url.Content("~/Static/Images/TestimonialImages/" + Model.Id + "/" + Model.Image)" height="80" width="80">
            <input type="file" accept=".jpg,.jpeg,.pdf" id="ProfilePic" name="image" />
        }
        else
        {
            <input type="file" accept=".jpg,.jpeg,.pdf" id="ProfilePic" name="image" />
        }
    }
    else
    {
        <input type="file" accept=".jpg,.jpeg,.pdf" id="ProfilePic" name="image" />
    }
</div>