﻿@model Archer.Models.TestmonialModel
@{
       ViewBag.Title = "Edit Channel";
       Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@using (Html.BeginForm("Edit", "Tesimonial", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Edit Tesimonial</h3>
                        </div>
                        <div class="card-body">
                            @Html.Partial("~/Views/Tesimonial/_AddEditTesimonial.cshtml", Model)
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Update</button>
                            <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index","Tesimonial")'">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
