﻿@model Archer.Models.ArcherModels
<div class="row form-group">
    <div class="col-md-6">
        <label>First Name<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.fname, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.fname, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>Last Name<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.lname, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.lname, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>Email <span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>Address<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.add, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.add, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>Course<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.course, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.course, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>Contact<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.contact, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.contact, "", new { @class = "text-danger" })
    </div>
</div>