﻿@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>*@
@model IEnumerable<Archer.Models.ArcherModels>
@{ ViewBag.Title = "Index"; Layout = "~/Views/Shared/_LayoutPage1.cshtml"; }


<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-danger card-outline">
                    <div class="card-header">
                        <h3 class="card-title">List of student</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example" class="table table-striped table-bordered table-responsive" style="width:100%">
                            @*<table class="table">*@
                            <thead>
                                <tr>
                                    <th>Sr no.</th>
                                    <th>Name</th>
                                    <th>Last Name</th>
                                    <th>Address</th>
                                    <th>contact</th>
                                    <th>Email</th>
                                    <th>Course</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    var i = 0;
                                    foreach (var item in Model)
                                    {
                                <tr>
                                    <td>
                                        @(i= i + 1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.fname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.lname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.add)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.email)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.contact)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.course)
                                    </td>
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
