﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Register";
}
@using (Html.BeginForm("Register", "Archer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="fh5co-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h3>Enquiry Form</h3>
                    <form action="#">
                        <div class="row form-group">
                            <!-- <label for="fname">First Name</label> -->
                            @Html.Label("First Name")
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.fname, new { @class = "form-controls" })
                                @Html.ValidationMessageFor(m => m.fname, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <!-- <label for="lname">Last Name</label> -->
                                @*<input type="text" id="lname" class="form-control" placeholder="Your lastname">*@
                                @Html.Label("Last Name")
                                @Html.TextBoxFor(m => m.lname, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.lname, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <!-- <label for="email">Email</label> -->
                                @Html.Label("Email")
                                @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">

                                <!-- <label for="email">Email</label> -->
                                @Html.Label("Address")
                                @Html.TextBoxFor(m => m.add, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.add, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">

                                <!-- <label for="subject">Subject</label> -->
                                @Html.Label("Contact")
                                @Html.TextBoxFor(m => m.contact, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.contact, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <!-- <label for="subject">Subject</label> -->
                                @Html.Label("Course")
                                @Html.TextBoxFor(m => m.course, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.course, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Register" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


