﻿@model Archer.Models.OnlineCourcesModel
<div class="row form-group">
    <div class="col-md-6">
        <label>Cource Name<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>
            Ratings<span class="text-danger"> *</span>
        </label>
        @Html.TextBoxFor(x => x.Ratings, new { @class = "form-control DecimalOnly", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.Ratings, "", new { @class = "text-danger" })
    </div>

</div>
<div class="row form-group">
    <div class="col-md-6">
        <label>Postedon<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.Postedon, new { @class = "form-control ", @maxlength = "50" , autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.Postedon, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>
            Info<span class="text-danger"> *</span>
        </label>
        @Html.TextBoxFor(x => x.Info, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.Info, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.Label("Cource Image")
    @if (Model != null)
    {
        if (!string.IsNullOrEmpty(Model.Image))
        {
            <img src="@Url.Content("../Static/Images/CourcesImages/" + Model.Image + "/" + Model.Image)" height="80" width="80">
            <input type="file" accept=".jpg,.jpeg,.pdf" id="ProfilePic" name="image" />
        }
        else
        {
            <input type="file" accept=".jpg,.jpeg,.pdf" id="ProfilePic" name="image" />
        }
    }
    else
    {
        <input type="file" accept=".jpg,.jpeg,.pdf" id="ProfilePic" name="image" />
    }
</div>
<script type="text/javascript">
    $('#Postedon').datepicker({
        dateFormat: 'dd/mm/yy'
    });
</script>
<script>
    $(".DecimalOnly").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            if (e.which != 46) {
                return false;
            }
        }
    });
</script>