﻿@model Archer.Models.ExamModel

<div class="row form-group">
    <div class="col-md-6">
        <label>
            Info<span class="text-danger"> *</span>
        </label>
        @Html.TextBoxFor(x => x.info, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.info, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.Label("Exam Image")
    @if (Model != null)
    {
        if (!string.IsNullOrEmpty(Model.img))
        {
            <img src="@Url.Content("~/Static/Images/ExamImages/" + Model.id + "/" + Model.img)" height="80" width="80">
            <input type="file" accept=".jpg,.jpeg,.pdf" id="ProfilePic" name="image" />
        }
        else
        {
            <input type="file" accept=".jpg,.jpeg,.pdf" id="ProfilePic" name="image" />
        }
    }
    else
    {
        <input type="file" accept=".jpg,.jpeg,.pdf" id="ProfilePic" name="image" />
    }
</div>
