﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script scr="https://code.jquery.com/jquery-3.3.1.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
    @Styles.Render("~/UserSideCss")
    @Scripts.Render("~/UserSideModernizr")

</head>
<body>
    <div class="fh5co-loader"></div>

    <div id="page">
        <nav class="fh5co-nav" role="navigation">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <p class="num">Call: +91-9850678451</p>
                            <p class="num">Email:archerinfotech@gmail.com</p>
                            <ul class="fh5co-social">
                                <li><a href="https://www.facebook.com/archer.infotech"><i class="fa fa-facebook"></i></a></li>                                
                                <li><a href="https://twitter.com/archerinfotech1"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-1">
                            <div id="fh5co-logo">
                                <a href="index.html">
                                    <img src="~/Content/images/archer logo2.png" height="70" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-11 text-right menu-1">
                            <ul id="nav">
                                <li><a href="@Url.Action("Index", "Home")" @(ViewContext.RouteData.Values["action"].ToString().Equals("Index") ? "class=nav_selected" : "")>Home</a></li>


                                <li><a href="@Url.Action("Course", "Home")" @(ViewContext.RouteData.Values["action"].ToString().Equals("Course") ? "class=nav_selected" : "")>Course</a></li>

                                <li class="has-dropdown">
                                    <a href="#">Admission</a>
                                    <ul class="dropdown">
                                        <li><a href="#" data-toggle="modal" data-target="#admmission">Admission Form</a></li>

                                        <li><a href="@Url.Action("Batchshedule", "Home")">Batch Schedule</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("Gallary", "Home")" @(ViewContext.RouteData.Values["action"].ToString().Equals("Gallary") ? "class=nav_selected" : "")>Gallary</a></li>
                                @*<li><a href="@Url.Action("Aboutus", "Home")" @(ViewContext.RouteData.Values["action"].ToString().Equals("Aboutus") ? "class=nav_selected" : "")>About us</a></li>*@
                                <li><a href="@Url.Action("Contact", "Home")" @(ViewContext.RouteData.Values["action"].ToString().Equals("Contact") ? "class=nav_selected" : "")>Contact</a></li>
                                @*<li><a href="@Url.Action("Projects", "Home")" @(ViewContext.RouteData.Values["action"].ToString().Equals("Projects") ? "class=nav_selected" : "")>Projects</a></li>*@
                                <li><a href="@Url.Action("OnlineCourses", "Home")" @(ViewContext.RouteData.Values["action"].ToString().Equals("OnlineCourses") ? "class=nav_selected" : "")>OnlineCourse</a></li>
                                <li><a href="@Url.Action("Youtube", "Home")" @(ViewContext.RouteData.Values["action"].ToString().Equals("Youtube") ? "class=nav_selected" : "")>YTDChannel</a></li>
                                <li><a href="@Url.Action("Exam_Recruitment", "Home")" @(ViewContext.RouteData.Values["action"].ToString().Equals("Exam_Recruitment") ? "class=nav_selected" : "")>Exam_Recruitment</a></li>
                                @*@if (Request.IsAuthenticated)
                                {
                                    <li><a href="@Url.Action("Logout", "Account")">Logout</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("LoginWindow", "Account")" @(ViewContext.RouteData.Values["action"].ToString().Equals("LoginWindow") ? "class=nav_selected" : "")>Login</a></li>
                                }*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        @RenderBody()
        <div id="fh5co-started" style="background-image:url(../Content/images/img_bg_22.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2>Lets Get Started</h2>
                        <p>Join us and Make your Career Bright.</p>
                    </div>
                </div>
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <p><a href="@Url.Action("Batchshedule", "Home")" class="btn btn-default btn-lg">Ask For Demo Lecture</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div footer id="fh5co-counter" class="fh5co-counters">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 fh5co-widget">
                        <h4>About Learning</h4>
                        <p>Our Training is given by good skilled Trainers.</p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 col-md-push-1">
                        <h4 style="margin-left:20px">Learning</h4>
                        <ul class="fh5co-footer-links">
                            <li><a href="@Url.Action("Batchshedule", "Home")">Admission</a></li>
                            <li><a href="@Url.Action("Course", "Home")">Programming</a></li>
                            <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                            <li><a href="@Url.Action("Gallary", "Home")">Gallary</a></li>
                            @*<li><a href="@Url.Action("Aboutus", "Home")">About us</a></li>*@
                        </ul>
                    </div>
                    <div class="col-md-5 col-md-push-1 pull-right">
                        <ul>
                            <li class="address">Archer Infotech<br>G3,Vishwaleela Complex,<br>Vishrambagh,Sangli 416415.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block"> Archer Infotech</small>
                </p>
                <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="https://www.facebook.com/archer.infotech"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://dribbble.com/archerinfotech1"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="https://twitter.com/archerinfotech1"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    @Scripts.Render("~/UserSideJs")
    @RenderSection("scripts", required: false)

    <div id="admmission" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Enquiry Form</h4>
                </div>
                @using (Html.BeginForm("StudentEnquiry", "Archer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">
                        @*<p>Register</p>*@
                        <form>
                            <div class="form-group">
                                <input type="text" name="fname" id="fName" class="form-control" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="lname" id="lname" class="form-control" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <input type="text" name="add" id="add" class="form-control" placeholder="Address">
                            </div>
                            <div class="form-group">
                                <input type="text" name="contact" id="Contact" class="form-control" placeholder="Contact">
                            </div>
                            <div class="form-group">
                                <input type="text" name="course" id="course" class="form-control" placeholder="Course">
                            </div>
                            <button class="btn btn-primary  text-uppercase" type="submit">Register </button>

                            @*<p><a class="btn btn-primary btn-lg btn-learn" href="@Url.Action("StudentEnquiry", "Archer")">Register</a></p>*@
                        </form>

                    </div>
                }
            </div>
        </div>
    </div>

    @*<div id="admissionForm" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color:white;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"aria-hidden="true"> &times;</button>
                        <h2 class="card-title text-center"><b>Enquiry Form</b></h2>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline">
                            <div class="form-label-group">
                                <input type="text" name="fname" id="fName" class="form-control" placeholder="First Name*" required autofocus><br /><br />

                            </div>

                            <div class="form-label-group">
                                <input type="text" name="lname" id="lname" class="form-control" placeholder="Last Name*" required><br />

                            </div>
                            <div class="form-label-group">
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email*" required><br />

                            </div>
                            <div class="form-label-group">
                                <input type="text" name="add" id="add" class="form-control" placeholder="Address" required><br />

                            </div>
                            <div class="form-label-group">
                                <input type="text" name="contact" id="Contact" class="form-control" placeholder="Contact*" required><br />

                            </div>
                            <div class="form-label-group">
                                <input type="text" name="course" id="course" class="form-control" placeholder="Course*" required><br />

                            </div>

                            <br />
                            <p><a class="btn btn-primary btn-lg btn-learn" href="@Url.Action("Register","Archer")">Register</a></p>

                            <hr class="my-4">

                        </form>
                    </div>

                </div>
            </div>
        </div>*@
</body>
</html>

<script>
    $('#theCarousel').carousel({
        interval: 2000
    })

    $('.multi-item-carousel .item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        if (next.next().length > 0) {
            next.next().children(':first-child').clone().appendTo($(this));
        }
        else {
            $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
        }
    });
</script>
