﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>
        .navbar {
            background-color: gray;
            color: white;
        }
    </style>
    @Styles.Render("~/UserSideCss")
    @Scripts.Render("~/UserSideModernizr")


</head>
<body>
    <div class="fh5co-loader"></div>

    <div id="page">

        @*<div class="navbar navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("Course", "Home")">Course</a></li>
                            <li><a href="@Url.Action("Formfill", "Home")">Admission</a></li>
                            <li><a href="@Url.Action("Gallary", "Home")">Gallary</a></li>
                            <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                            <li><a href="@Url.Action("Aboutus", "Home")">Aboutus</a></li>
                        </ul>
                    </div>
                </div>
            </div>*@
        <nav class="navbar navbar-expand-lg navbar-light bg-gray">
                <a class="navbar-brand" href="#"></a>
                @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>*@
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a href="@Url.Action("Index", "Home")"class="adesign"><b>Home</b></a><span class="sr-only">(current)</span></a>
                        <a href="@Url.Action("Course", "Home")"class="adesign"><b>Courses</b></a>
                        <a href="@Url.Action("Formfill", "Home")"class="adesign"><b>Admission</b></a>
                        <a href="@Url.Action("Gallary", "Home")"class="adesign"><b>Gallary</b></a>
                        <a href="@Url.Action("Contact", "Home")"class="adesign"><b>Contact</b></a>
                        <a href="@Url.Action("Aboutus", "Home")"class="adesign"><b>Aboutus</b></a>
                    </div>
                </div>
            </nav>
        
        @RenderBody()
        <div id="fh5co-started" style="background-image:url(../Content/images/img_bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2>Lets Get Started</h2>
                        <p>Join us and Make your Career Bright.</p>
                    </div>
                </div>
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <p><a href="#" class="btn btn-default btn-lg">Join Demo Lecture</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div footer id="fh5co-counter" class="fh5co-counters">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 fh5co-widget">
                        <h4>About Learning</h4>
                        <p>Our Training is given by good skiled Trainers.</p>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                        <h4 style="margin-left:20px">Learning</h4>
                        <ul class="fh5co-footer-links">
                            <li><a href="@Url.Action("Batchshedule", "Home")">Admission</a></li>
                            <li><a href="@Url.Action("Course", "Home")">Programming</a></li>
                            <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                            <li><a href="@Url.Action("Gallary", "Home")">Gallary</a></li>
                            <li><a href="@Url.Action("Aboutus", "Home")">Aboutus</a></li>
                        </ul>
                    </div>
                    <div class="col-md-5 col-md-push-1 pull-right">
                        <ul>
                            <li class="address">Archer Infotech<br> Vishawlila apt,near Yes sir hotel,<br>Vishrambagh,Sangli 416415.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block"> Archer Infotech</small>
                </p>
                <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="https://www.facebook.com/archer.infotech"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </p>
            </div>
        </div>

    </div>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>
    @Scripts.Render("~/UserSideJs")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function () {
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    });

</script>

