﻿<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!-- Modernizr JS -->
    <script src="~/Content/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    
</head>
<body>
    <div class="fh5co-loader"></div>

    <div id="page">
        <nav class="fh5co-nav" role="navigation">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <p class="num">Call: +01 123 456 7890</p>
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                                <li><a href="#"><i class="icon-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-1">
                            <div id="fh5co-logo"><a href="index.html">Learn<span>.</span></a></div>
                        </div>
                        <div class="col-xs-11 text-right menu-1">
                            <ul>
                                <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a href="@Url.Action("Course", "Home")">Course</a></li>
                                <li><a href="@Url.Action("Formfill", "Home")">Admission</a></li>
                                @*<li class="has-dropdown">
        <a href="blog.html">Blog</a>
        <ul class="dropdown">
            <li><a href="#">Web Design</a></li>
            <li><a href="#">eCommerce</a></li>
            <li><a href="#">Branding</a></li>
            <li><a href="#">API</a></li>
        </ul*@>
                                @*</li>*@
                                <li><a href="@Url.Action("Gallary", "Home")">Gallary</a></li>
                                <li><a href="@Url.Action("Aboutus", "Home")">About us</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
        </div>
        @RenderBody()
        <script src="js/jquery.min.js"></script>
        <!-- jQuery Easing -->
        <script src="~/Content/js/jquery.easing.1.3.js"></script>
        <!-- Bootstrap -->
        <script src="~/Content/js/bootstrap.min.js"></script>
        <!-- Waypoints -->
        <script src="~/Content/js/jquery.waypoints.min.js"></script>
        <!-- Stellar Parallax -->
        <script src="~/Content/js/jquery.stellar.min.js"></script>
        <!-- Carousel -->
        <script src="~/Content/js/owl.carousel.min.js"></script>
        <!-- countTo -->
        <script src="~/Content/js/jquery.countTo.js"></script>
        <!-- Magnific Popup -->
        <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
        <script src="~/Content/js/magnific-popup-options.js"></script>
        <!-- Main -->
        <script src="~/Content/js/main.js"></script>
</body>
</html>
