﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Archer</title>
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    @Styles.Render("~/Css")
    @Scripts.Render("~/Js")

</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class=""></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->

                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                        <i class=""></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">

                <span class="brand-text font-weight-light"></span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Content/images/logo.png" height="160" width="180" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block"><b>Archer Infotech</b></a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        @if ((Int32)Session["role"] != null)
                        {
                            if ((Int32)Session["role"] != 2)
                            {
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fa fa-edit"></i>

                                        <p>
                                            Training<i class="right fa fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Create", "Training")" class="nav-link">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>Add New Training</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "Training")" class="nav-link">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>List of Training</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>


                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fa fa-book"></i>

                                        <p>
                                            Subject<i class="right fa fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Create", "Subject")" class="nav-link">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>Add New Subject</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "Subject")" class="nav-link">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>List of Subject</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fa fa-book"></i>

                                        <p>
                                            Youtube Channel<i class="right fa fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Create", "Channel")" class="nav-link">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>Add New Channel</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "Channel")" class="nav-link">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>List of Channel</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fa fa-book"></i>

                                        <p>
                                            Online Exam<i class="right fa fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Create", "OnlineExam")" class="nav-link">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>Add New OnlineExam</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "OnlineExam")" class="nav-link">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>List of OnlineExam</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fa fa-book"></i>

                                        <p>
                                            Projects<i class="right fa fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Create", "Project")" class="nav-link">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>Add New Project</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "Project")" class="nav-link">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>List of Project</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fa fa-book"></i>
                                        Online Course
                                        <p>
                                            <i class="right fa fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Create", "OnlineCources")" class="nav-link">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>Add New Course</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "OnlineCources")" class="nav-link">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>List of Course</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fa fa-book"></i>
                                        Testimonial Details
                                        <p>
                                            <i class="right fa fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Create", "Tesimonial")" class="nav-link">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>Add New Testimonial</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "Tesimonial")" class="nav-link">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>List of Testimonial</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fa fa-user"></i>

                                        <p>
                                            Student<i class="right fa fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Create", "Student")" class="nav-link">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>Add New Student</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "Student")" class="nav-link">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>List of Student</p>
                                            </a>
                                        </li>
                                        <li class="nav-item has-treeview">
                                            <a href="@Url.Action("Index", "Archer")" class="nav-link">
                                                <i class="nav-icon fa fa-users"></i>
                                                <p>List of Enquiry students</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>


                                <li class="nav-item has-treeview">
                                    <a href="@Url.Action("ContactInfo", "Home")" class="nav-link">
                                        <i class="nav-icon fa fa-send-o"></i>
                                        <p>Contact Enquery List</p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a href="@Url.Action("RemainingFees", "Fees")" class="nav-link">
                                        <i class="nav-icon fa fa-send-o"></i>
                                        <p>Remaining Fees</p>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a href="@Url.Action("Create", "Student")" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Add New Student</p>
                                    </a>
                                </li>
                            }
                        }
                        <li class="nav-item has-treeview">
                            <a href="@Url.Action("Logout","Account")" class="nav-link">
                                <i class="nav-icon fa fa-sign-out"></i>
                                <p>Logout</p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
            @Html.Partial("_Notify")
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">

            </div>
            <strong>Copyright &copy; 2018-2019: <a href="#">Archer Technologies</a>.</strong> All rights
            reserved.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    @Scripts.Render("~/Js")
</body>
</html>
