﻿@model Archer.Models.StudentModel
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="row form-group">
    <div class="col-md-6">
        <label>
            Name<span class="text-danger"> *</span>
        </label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>Mobile no<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.MobileNo, new { @class = "form-control DecimalOnly", @maxlength = "10", @onfocusOut = "check_Student()", @placeholder = "+91", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger" })
        <p id="status"></p>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6">
        <label>
            WhatsApp no<span class="text-danger"> *</span>
        </label>
        @Html.TextBoxFor(x => x.WhatsappNo, new { @class = "form-control DecimalOnly", @maxlength = "10", @placeholder = "+91", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.WhatsappNo, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>College name<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.College, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.College, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6">
        <label>
            Email Id<span class="text-danger"> *</span>
        </label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>Year And Trade<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.YearTrade, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.YearTrade, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6">
        <label>
            Current Address<span class="text-danger"> *</span>
        </label>
        @Html.TextAreaFor(x => x.CurrentAdd, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.CurrentAdd, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>Permanent Address<span class="text-danger"> *</span></label>
        @Html.TextAreaFor(x => x.PremanantAdd, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.PremanantAdd, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6">
        <label>
            From Where Did You Get Reference Of Our Institute<span class="text-danger"> *</span>
        </label>
        @Html.TextBoxFor(x => x.Refernce, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.Refernce, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>Admission Date<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.AdmissionDate, new { @class = "form-control datepicker", @autocomplete = "off",@Placeholder="Select Date" })
        @Html.ValidationMessageFor(model => model.AdmissionDate, "", new { @class = "text-danger" })
    </div>
</div>

@Html.Label("Select Subject")
<br /><Label class="text-danger">Select Subject then Add/Add All /Remove/Remove All</Label>
<div class="row">
    <div class="col-md-5">
        @Html.Label("Select From")
        <div class="form-group">
            @Html.ListBoxFor(m => m.FSelectedSubjects, new MultiSelectList(Model.FromSubjects, "id", "name"), new { style = "height: 250px", @class = "form-control", @tabindex = "15" })
        </div>
    </div>
    <div class="col-md-2" style="text-align:center">
        <div><br /></div>
        <div><input type="button" class="btn btn-info text-bold" style="width:50%;font-size: 22px;" value=">" id="AddSingle" /></div>
        <div><br /></div>
        <div><input type="button" class="btn btn-info text-bold" value="<" style="width:50%;font-size: 22px;" id="RemoveSingle" /></div>
        <div><br /></div>
        <div><input type="button" class="btn btn-info text-bold" value=">>" style="width:50%;font-size: 22px;" id="AddAll" /></div>
        <div><br /></div>
        <div><input type="button" class="btn btn-info text-bold" value="<<" style="width:50%;font-size: 22px;" id="RemoveAll" /></div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            @Html.Label("Selected")
            @Html.ListBoxFor(m => m.TSelectedSubjects, new MultiSelectList(Model.ToSubjects, "id", "name"), new { style = "height: 250px", @class = "form-control", @tabindex = "15" })
        </div>
    </div>
</div>

<script>
    $(document).ready(function ($) {
        $("#AddSingle").click(function () {
            if (!CheckAlreadyExitsADD()) {
                $("#FSelectedSubjects option:selected").appendTo("#TSelectedSubjects");
            } else {
                $.toast({
                    heading: 'Error',
                    text: 'Brand already Selected',
                    showHideTransition: 'slide',
                    icon: 'Error'
                })
            }
        });

        $("#RemoveSingle").click(function () {
            $("#TSelectedSubjects option:selected").appendTo("#FSelectedSubjects");
        });

        $("#AddAll").click(function () {
            $('#FSelectedSubjects  option').prop('selected', true);
            $("#AddSingle").trigger("click");
        });

        $("#RemoveAll").click(function () {
            $('#TSelectedSubjects  option').prop('selected', true);
            $("#RemoveSingle").trigger("click");
        });

        $(".submit").click(function () {
            $('#TSelectedSubjects  option').prop('selected', true);
        });
        function CheckAlreadyExitsADD() {
            var oldselected = [];
            var newselected = [];
            $('#TSelectedSubjects option').each(function (i, selected) {
                oldselected[i] = $(selected).text();
            });

            $('#FSelectedSubjects option:selected').each(function (i, selected) {
                newselected[i] = $(selected).text();
            });
            var common = $.grep(oldselected, function (element) {
                return $.inArray(element, newselected) !== -1;
            });
            if (common.length == 0) {
                return false
            }
            else {
                return true
            }
        }
    });
</script>
<script>
    $(".DecimalOnly").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            if (e.which != 46) {
                return false;
            }
        }
    });
</script>
<script>
    $('#AdmissionDate').datepicker({
        dateFormat: 'MM/dd/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2000'
    });

        function check_Student() {
            var mobno = $("#MobileNo").val();
        //alert("Username::" + uname);
        $("#status").html('Checking Diamond Id.......');
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Student/CheckStudent")',
            data: { no: mobno },
            success: function (data) {
                //alert(data);
                if (data == 0) {
                    $("#status").html('<font color = "green">Student not Exist');
                    $("#MobileNo").css("border-color", "green");
                } else {
                    $("#status").html('<font color = "red">This Student Is Already Exist');
                    $("#MobileNo").css("border-color", "red");
                }
            },
            error: function (e) {
                console.log(e);
            }
        });

    }
</script>