﻿@model Archer.Models.StudentModel
@{
    ViewBag.Title = "Create Student";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<section class="content">
    @using (Html.BeginForm("Create", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Student Registration</h3>
                            </div>
                            <div class="card-body">
                                @Html.Partial("~/Views/Student/_AddEditStudent.cshtml", Model)
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-info">Add</button>
                                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index","Student")'">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</section>


