﻿@model Archer.Models.StudentModel
@{
    ViewBag.Title = "Edit Channel";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@using (Html.BeginForm("Edit", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.StudentId)
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-danger card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Edit Student</h3>
                        </div>
                        <div class="card-body">
                            @Html.Partial("~/Views/Student/_AddEditStudent.cshtml", Model)
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-danger">Update</button>
                            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Student")'">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
