﻿
@model Archer.Models.StudentPagingModel
@{
    
    ViewBag.Title = "Index"; Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style>
    .previous:hover {
        background-color: #585858;
        color: white;
        cursor: pointer;
    }

    .Next:hover {
        background-color: #585858;
        color: white;
        cursor: pointer;
    }

    .first:hover {
        background-color: #585858;
        color: white;
        cursor: pointer;
    }

    .last:hover {
        background-color: #585858;
        color: white;
        cursor: pointer;
    }
</style>
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info card-outline">
                    <div class="card-header">
                        <h3 class="card-title">List of Students </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example" class="table table-striped table-bordered table-responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="text-center">Sr No.</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Contact no</th>
                                    <th class="text-center">Whatsapp no</th>
                                    <th class="text-center">College</th>
                                    <th class="text-center">EmailId</th>
                                    <th class="text-center">Trade Year</th>
                                    <th class="text-center">Current Address</th>
                                    @* <th class="text-center">Permanant Address</th>*@
                                    @* <th class="text-center">references</th>*@
                                    @*<th class="text-center">Admission Date</th>*@
                                    @*<th class="text-center">From Subjects</th>*@
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="row float-right">

                            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button first disabled" id="example1_first"><button class="first" aria-controls="example1" data-dt-idx="0" tabindex="0">First</button></li>
                                    &nbsp;&nbsp;
                                    <li class="paginate_button disabled" id="example1_previous"><button class="previous" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</button></li>
                                    &nbsp;&nbsp;
                                    <li class="paginate_button txtbox">
                                        <a aria-controls="example1" data-dt-idx="1" tabindex="0" style="color:#585858">
                                            &nbsp; page
                                            <span id="currentPage" type="text" style="width: 30px;">@Model.page</span>
                                            of <span id="spnTotalPages">@Model.total </span>&nbsp;
                                        </a>
                                    </li>
                                    &nbsp;&nbsp;
                                    <li class="paginate_button" id="example1_next"><button class="Next" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</button></li>
                                    &nbsp;&nbsp;
                                    <li class="paginate_button" id="example1_last"><button class="last" aria-controls="example1" data-dt-idx="0" tabindex="0">Last</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<input type="hidden" id="lastPage" />
<div class="modal fade" id="StudentModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Confirm Delete</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-left">
                        <h5>Are you sure, You want to Delete Student ? </h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-info" data-dismiss="modal" style="color:white">Cancel</a>
                <button type="button" id="btnok" class="btn btn-info" style="color:white" onclick="Delete()" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
         var total = parseInt('@Model.total');
        if (total == 0 || total == 1) {
            $(".Next").parent().attr("disabled", "disabled");
            $(".Next").parent().addClass("disabled");
        }
        $("div .dataTables_paginate").data("prevPage", $("#currentPage").val());

        $('#currentPage').keypress(function (event) {

            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                $(this).trigger("change");
                event.preventDefault();
            }
        });

        $(".pagination li:not(.txtbox)").click(function (e) {
            var currentPage = parseInt($("#currentPage").text());
            var page = 1;
            if (($(e.target).attr("class") == "previous" && $(e.target).parent().hasClass("disabled")) || ($(e.target).attr("class") == "Next" && $(e.target).parent().hasClass("disabled")))
                return;

            if ($(e.target).attr("class") == "previous")
                page = currentPage - 1;
            else if ($(e.target).attr("class") == "Next")
                page = currentPage + 1;
            else if ($(e.target).attr("class") == "last") {
                page = $("#lastPage").val();
            }
            else
                page = parseInt($(e.target).attr("id"));
            if (($(e.target).attr("class") == "previous" && $(e.target).parent().hasClass("disabled")) || ($(e.target).attr("class") == "Next" && $(e.target).parent().hasClass("disabled")))
                return;
            GetData(page, false);
        });
        GetData(1, false)
    });
   
</script>

<script>
    function GetData(page, isDateChanged) {
        $(".previous").parent().removeAttr("disabled");
        $(".Next").parent().removeAttr("disabled");
        $(".previous").parent().removeClass("disabled");
        $(".Next").parent().removeClass("disabled");
        $(".active").removeClass("active");

        var data = {
            PageSize: 10,
            PageIndex: page,
            IsSearch: false
        };
        //var spinHandle = loadingOverlay.activate();
        $.ajax({
            type: "Post",
            url: '@Url.Content("~/Student/GetStudentList")',
            data: { page: page, rows: 100 /*startDate: $('#startDate').val(), endDate: $('#endDate').val(), Brand: $('#brand').val(), Category: $('#category').val()*/ },
            success: function (data) {
                $("div .pagination").data("prevPage", data.page);
                $("#currentPage").text(data.page);

                if (isDateChanged) {
                    $("#spnTotalPages").text(data.total);
                    $("#lastPage").val(data.total);
                }
                $("#" + page).parent().addClass("active");
                if (page == 1) {
                    $(".previous").parent().attr("disabled", "disabled");
                    $(".previous").parent().addClass("disabled");
                }
                if (page == data.total || data.data.length == 0) {
                    $(".Next").parent().attr("disabled", "disabled");
                    $(".Next").parent().addClass("disabled");
                }
                var tableBody = "";
                if (data) {
                    var today = new Date();
                    startdate = new Date($('#startDate').val());
                    var row = "";
                    var sum = 0;

                    if (data.data.length == 0) {
                        row = '<tr>' +
                             '<td colspan="8" style="text-align: center">' + 'No data available in table' + '</td>' +
                         '</tr>';

                        tableBody = tableBody + (row);
                        $("#btnExport").addClass("btndisabled");
                    }
                    else {
                        for (var i = 0; i < data.data.length; i++) {
                            var student = data.data[i];
                            row +=
                                '<tr>' +
                                '<td style="text-align: center">' + student.srno + '</td>' +
                                '<td style="text-align: center">' + student.Name + '</td>' +
                                '<td style="text-align: center">' + student.MobileNo + '</td>' +
                                '<td style="text-align: center">' + student.WhatsappNo + '</td>' +
                            '<td style="text-align: center">' + student.College + '</td>' +
                                '<td style="text-align: right">' + student.Email + '</td>' +
                                '<td style="text-align: right">' + student.YearTrade + '</td>' +
                                '<td style="text-align: right">' + student.CurrentAdd + '</td>';
                            //'<td style="text-align: right">' + student.PremanantAdd +'</td>'+
                            //'<td style="text-align: right">' + student.Refernce + '</td>' +
                            //'<td style="text-align: right">' + student.AdmissionDate +  '</td>' +
                            /*'<td style="text-align: right">' + student.Subject +  '</td>'*/  

                            row += '<td class="center"> ';
                            row += '<a href="@Url.Content("~/Student/Edit/?Id=")' + student.StudentId+'"><span class="fa fa-edit fa-fw" title="Details"></span></a>';
                          //  row += '<a href="#" onclick="javascript:ConfirmDelete(\'' + student.StudentId + '\')" > <span class="fa fa-trash fa-fw" title="Delete"></span></a> ';
                            if (student.Subject != null) {
                                row += '<a href="@Url.Content("~/Fees/payfees/?Id=")' + student.StudentId + '"><span class="fa fa-money fa-fw" title="Details"></span></a>';
                            }
                            row += '</td>';
                            row += '</tr>';
                            tableBody = tableBody + (row);
                            row = "";
                            $("#btnExport").removeClass("btndisabled");
                        }
                    }

                    $('#example tbody').html("");

                    $("#example").trigger("update");

                    $('#example tbody').html(tableBody);

                    // let the sorting plugin know that we made a update
                    $("#example").trigger("update");

                    var sorting = [[2, 1], [0, 0]];
                    // sort on the first column
                    $("example").trigger("sorton", [sorting]);
                   // loadingOverlay.cancel(spinHandle);
                    //$('#count').val('₹' + data.TotalAmount.toFixed(2));
                }
            },
            error: function (e) {
                console.log(e);
                //alert(e);
            }
        });
    }

    function ConfirmDelete(Id) {
        $("#StudentModel").modal("show");
        $("#StudentModel").data("Id", Id);
    };

    function Delete() {
        var Id = $("#StudentModel").data("Id");
        if (Id > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Content("~/Student/Delete")',
                data: { id: parseInt(Id) },
                success: function (data) {
                    $.toast({
                        heading: 'Success',
                        text: 'Student Deleted Successfully..',
                        showHideTransition: 'slide',
                        icon: 'success'
                    })
                    GetData(1, true);
                },
                error: function (e) {
                    $.toast({
                        heading: 'Error',
                        text: 'Something wrong please try after sometime',
                        showHideTransition: 'slide',
                        icon: 'Error'
                    })
                    console.log(e)

                }
            });
        }
    }
</script>