﻿@model Archer.Models.FeesModel
@{
    ViewBag.Title = "_AddEditFees";

}
<div class="row form-group">
    @if (Model != null)
    {
        @Html.HiddenFor(x => x.student)
        <div class="col-md-6">
            <label>@Model.studentnm<span class="text-danger"> *</span></label>
        </div>
        <table class="table-responsive table-bordered">
            <thead>
                <tr>
                    <th> Subjects</th>
                    <th> Fees</th>
                </tr>
            </thead>
            @foreach (var item in Model.subjects)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.fees</td>
                </tr>
            }
            <tr>
                <th>
                    Total Fees
                </th>
                <td>
                    @Html.TextBoxFor(x => x.totalFee, new { @class = "form-control", @id = "totalfees", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.totalFee, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
        <div class="col-md-6">
            <label>
                Remaining Fees<span class="text-danger"> *</span>
            </label>
            @Html.TextBoxFor(x => x.remainingfees, new { @class = "form-control", @id = "remainingfees" })
            @Html.ValidationMessageFor(model => model.remainingfees, "", new { @class = "text-danger", disabled = "disabled" })
        </div>
        <div class="col-md-6">
            <label>
                Amount To be Pay<span class="text-danger"> *</span>
            </label>
            @Html.TextBoxFor(x => x.paidamount, new { @class = "form-control" , @id = "amount" })
            @Html.ValidationMessageFor(model => model.paidamount, "", new { @class = "text-danger" })
        </div>
    }
</div>

@*<script>
        $(document).on("keyup", "#amount", function (e) {
        var rfees = $("#remainingfees").val() - $("#amount").val();
        $("#remainingfees").val(rfees);
    });
</script>*@

