﻿@model Archer.Models.FeesPagingModel
@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<script src="~/Content/plugins/loadingOverlay/loadingOverlay.js"></script>
<style>
    .previous:hover {
        background-color: #585858;
        color: white;
        cursor: pointer;
    }

    .Next:hover {
        background-color: #585858;
        color: white;
        cursor: pointer;
    }

    .first:hover {
        background-color: #585858;
        color: white;
        cursor: pointer;
    }

    .last:hover {
        background-color: #585858;
        color: white;
        cursor: pointer;
    }
</style>
<br />
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info card-outline">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="card-title">Total Pending List</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("RemainingFees", "Fees", "POST"))
                    {
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Label("From Date")
                                <input id="startDate" name="startDate" class="form-control pull-right" value="@DateTime.Now.ToString("dd/MM/yyyy")" type="text" tabindex="1">
                            </div>
                            <div class="col-md-3">
                                @Html.Label("To Date")
                                <input id="endDate" name="endDate" class="form-control pull-right" value="@DateTime.Now.AddDays(1).ToString("dd/MM/yyyy")" type="text" tabindex="2">
                            </div>
                            <div class="col-md-3">
                                @Html.Label("Subjects")
                                @Html.DropDownList("Subject", (IEnumerable<SelectListItem>)ViewBag.Subjects, "Select Subject", new { @class = "form-control", @id = "Subject" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div style="height: 18px;">
                                    @Html.Label("")
                                </div>
                                <input type="submit" class="btn btn-block btn-warning form-control" value="Export" id="btnExport" tabindex="4" />
                            </div>
                        </div>
                        <br />
                        <table id="fees-table" class="table table-bordered tablesorter table-responsive">
                            <thead>
                                <tr style="font-weight:bold">
                                    <th class="text-center" style="width: 8%">Sr. No.</th>
                                    <th class="text-center" style="width: 10%">Admission Date</th>
                                    <th class="text-center" style="width: 20%">Subjects</th>
                                    <th class="text-center" style="width: 10%">Student Name</th>
                                    <th class="text-center" style="width: 10%">Total Amount</th>
                                    <th class="text-center" style="width: 20%">Paid Amount</th>
                                    <th class="text-center" style="width: 10%">Remainning Amount</th>
                                    <th class="text-center" style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.data.Count() == 0)
                                {
                                    <tr>
                                        <td colspan="8" style="text-align: center">
                                            No data available in table
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="card-footer">
                    <div class="row float-right">

                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                            <ul class="pagination">
                                <li class="paginate_button first disabled" id="example1_first"><button class="first" aria-controls="example1" data-dt-idx="0" tabindex="0">First</button></li>
                                &nbsp;&nbsp;
                                <li class="paginate_button disabled" id="example1_previous"><button class="previous" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</button></li>
                                &nbsp;&nbsp;
                                <li class="paginate_button txtbox">
                                    <a aria-controls="example1" data-dt-idx="1" tabindex="0" style="color:#585858">
                                        &nbsp; page
                                        <span id="currentPage" type="text" style="width: 30px;">@Model.page</span>
                                        of <span id="spnTotalPages">@Model.total </span>&nbsp;
                                    </a>
                                </li>
                                &nbsp;&nbsp;
                                <li class="paginate_button" id="example1_next"><button class="Next" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</button></li>
                                &nbsp;&nbsp;
                                <li class="paginate_button" id="example1_last"><button class="last" aria-controls="example1" data-dt-idx="0" tabindex="0">Last</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<input type="hidden" id="lastPage" />

<!-- Sale Modal -->
<div class="modal fade" id="SaleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Confirm Delete</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-left">
                        <h5>Are you sure, You want to Delete Sale ? </h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-info" data-dismiss="modal" style="color:white">Cancel</a>
                <button type="button" id="btnok" class="btn btn-info" style="color:white" onclick="Delete()" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var total = parseInt('@Model.total');
        if (total == 0 || total == 1) {
            $(".Next").parent().attr("disabled", "disabled");
            $(".Next").parent().addClass("disabled");
        }
        $("div .dataTables_paginate").data("prevPage", $("#currentPage").val());

        $('#currentPage').keypress(function (event) {

            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                $(this).trigger("change");
                event.preventDefault();
            }
        });

        $(".pagination li:not(.txtbox)").click(function (e) {
            var currentPage = parseInt($("#currentPage").text());
            var page = 1;
            if (($(e.target).attr("class") == "previous" && $(e.target).parent().hasClass("disabled")) || ($(e.target).attr("class") == "Next" && $(e.target).parent().hasClass("disabled")))
                return;

            if ($(e.target).attr("class") == "previous")
                page = currentPage - 1;
            else if ($(e.target).attr("class") == "Next")
                page = currentPage + 1;
            else if ($(e.target).attr("class") == "last") {
                page = $("#lastPage").val();
            }
            else
                page = parseInt($(e.target).attr("id"));
            if (($(e.target).attr("class") == "previous" && $(e.target).parent().hasClass("disabled")) || ($(e.target).attr("class") == "Next" && $(e.target).parent().hasClass("disabled")))
                return;
            GetData(page, false);
        });



    
            $('#startDate').datepicker({
                format: "dd/MM/yyyy",
            })
                //Listen for the change even on the input
                .change(dateChanged)
                .on('changeDate', dateChanged);


            $('#endDate').datepicker({
                format: "dd/MM/yyyy",
            })
                //Listen for the change even on the input
                .change(dateChanged)
                .on('changeDate', dateChanged);
       

        function dateChanged(ev) {
           // alert('in date change');
            $(this).datepicker('hide');
            if (new Date($("#endDate").val()) < new Date($("#startDate").val())) {
                $.toast({
                    heading: 'Validation Error',
                    text: 'Before Date should be greater than from date..',
                    showHideTransition: 'slide',
                    icon: 'error'
                })
                $('#startDate').focus();
            }
            GetData(1, true);
        }






        //$('#endDate').datepicker({
        //    dateFormat: 'dd/M/yy', autoclose: true, onSelect: function () {
        //        if (new Date($("#endDate").val()) < new Date($("#startDate").val())) {
        //            $.toast({
        //                heading: 'Validation Error',
        //                text: 'Before Date should be greater than from date..',
        //                showHideTransition: 'slide',
        //                icon: 'error'
        //            })
        //            $('#startDate').focus();
        //            $('#endDate').focus();
        //        }
        //        GetData(1, true);
        //    }
        //});
        GetData(1, true);

        $("#Subject").change(function () {
            GetData(1, true);
        });


        $("form").submit(function () {

            if (new Date($("#endDate").val()) < new Date($("#startDate").val())) {
                $.toast({
                    heading: 'Validation Error',
                    text: 'Before Date should be greater than from date..',
                    showHideTransition: 'slide',
                    icon: 'error'
                })
                //alert("End Date should be greater than start date..  ");
                return false;
            }
        });
    });
</script>

<script>
    function GetData(page, isDateChanged) {
        $(".previous").parent().removeAttr("disabled");
        $(".Next").parent().removeAttr("disabled");
        $(".previous").parent().removeClass("disabled");
        $(".Next").parent().removeClass("disabled");
        $(".active").removeClass("active");

        var data = {
            PageSize: 10,
            PageIndex: page,
            IsSearch: false
        };
        var spinHandle = loadingOverlay.activate();
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Fees/GetFeesList")',
            data: { page: page, rows: 100, startDate: $('#startDate').val(), endDate: $('#endDate').val(), Sub: $('#Subject').val() },
            success: function (data) {
                $("div .pagination").data("prevPage", data.page);
                $("#currentPage").text(data.page);

                if (isDateChanged) {
                    $("#spnTotalPages").text(data.total);
                    $("#lastPage").val(data.total);
                }
                $("#" + page).parent().addClass("active");
                if (page == 1) {
                    $(".previous").parent().attr("disabled", "disabled");
                    $(".previous").parent().addClass("disabled");
                }
                if (page == data.total || data.data.length == 0) {
                    $(".Next").parent().attr("disabled", "disabled");
                    $(".Next").parent().addClass("disabled");
                }
                var tableBody = "";
                if (data) {
                    var today = new Date();
                    startdate = new Date($('#startDate').val());
                    var row = "";
                    var sum = 0;

                    if (data.data.length == 0) {
                        row = '<tr>' +
                             '<td colspan="8" style="text-align: center">' + 'No data available in table' + '</td>' +
                         '</tr>';

                        tableBody = tableBody + (row);
                        $("#btnExport").addClass("btndisabled");
                    }
                    else {
                        for (var i = 0; i < data.data.length; i++) {
                            var fees = data.data[i];
                            row +=
                                '<tr>' +
                            '<td style="text-align: center">' + fees.SrNo + '</td>' +
                            '<td style="text-align: center">' + fees.datestr + '</td>' +
                            '<td style="text-align: center">' + fees.Subject + '</td>' +
                            '<td style="text-align: center">' + fees.studentnm + '</td>' +
                            '<td style="text-align: center">' + fees.totalFee + '</td>' +
                            '<td style="text-align: center">' + fees.paidamount + '</td>' +
                            '<td style="text-align: right">' + fees.remainingfees + ' ₹' + '</td>' ;

                            row += '<td style="text-align: center"> ';

                            if (today.toDateString() == startdate.toDateString()) {
                                row += '<a href="#" onclick="javascript:ConfirmDelete(\'' + fees.Sale_Id + '\')" >' +
                                    '<span style="color: #17a2b8" class="fa fa-trash fa-fw" title="Delete"></span></a>';
                            }
                            else { row += '<h4> - </h4>'; }
                            row += '</td>';
                            row += '</tr>';
                            tableBody = tableBody + (row);
                            row = "";
                            $("#btnExport").removeClass("btndisabled");
                        }
                    }

                    $('#fees-table tbody').html("");

                    $("#fees-table").trigger("update");

                    $('#fees-table tbody').html(tableBody);

                    // let the sorting plugin know that we made a update
                    $("#fees-table").trigger("update");

                    var sorting = [[2, 1], [0, 0]];
                    // sort on the first column
                    $("fees-table").trigger("sorton", [sorting]);
                    loadingOverlay.cancel(spinHandle);
                    //$('#count').val('₹' + data.TotalAmount.toFixed(2));
                }
            },
            error: function (e) {
                console.log(e);
                //alert(e);
            }
        });
    }

    function ConfirmDelete(Id) {
        $("#SaleModal").modal("show");
        $("#SaleModal").data("Id", Id);
    };

    function Delete() {
        var Id = $("#SaleModal").data("Id");
        if (Id > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Content("~/Sale/Delete")',
                data: { id: parseInt(Id) },
                success: function (data) {
                    $.toast({
                        heading: 'Success',
                        text: 'Sale Deleted Successfully..',
                        showHideTransition: 'slide',
                        icon: 'success'
                    })
                    GetData(1, true);
                },
                error: function (e) {
                    $.toast({
                        heading: 'Error',
                        text: 'Something wrong please try after sometime',
                        showHideTransition: 'slide',
                        icon: 'Error'
                    })
                    console.log(e)

                }
            });
        }
    }
</script>
