﻿@model Archer.Models.SubjectModel
<div class="row form-group">
    <div class="col-md-6">
        <label>Subject Name<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.name, new { @class = "form-control" , autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>
            Fees<span class="text-danger"> *</span>
        </label>
        @Html.TextBoxFor(x => x.fees, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.fees, "", new { @class = "text-danger" })
    </div>
    
</div>

