﻿@model Archer.Models.SubjectModel
@{

    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using (Html.BeginForm("Edit", "Subject", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.id)
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Edit Subject</h3>
                        </div>
                        <div class="card-body">
                            @Html.Partial("~/Views/Subject/_AddEditSubjectView.cshtml", Model)
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Update</button>
                            <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Subject")'">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}


