﻿
@model IEnumerable<Archer.Models.ViewersModel>

@{
    ViewBag.Title = "Index"; Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info card-outline">
                    <div class="card-header">
                        <h3 class="card-title">List of Video Viewrs</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example" class="table table-striped table-bordered table-responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Sr no.</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Contact</th>
                                    <th class="text-center">Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    var i = 0;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                @(i = i + 1)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(model => item.Name)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(model => item.Contact)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(model => item.Email)
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    $("#example").DataTable();
</script>
