﻿@model Archer.Models.StudentWithBatchModel
@{
    ViewBag.Title = "_AddEditStudentBatch";
}
<div class="row form-group">
    <div class="col-md-6">
        <label>Student<span class="text-danger"> *</span></label>
        @Html.DropDownList("Student", (IEnumerable<SelectListItem>)ViewBag.subject, "Select Student", new { @class = "form-control", @id = "students" })
        @Html.ValidationMessageFor(model => model.student, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-6">
        <label>Batch<span class="text-danger"> *</span></label>
        @Html.DropDownList("Batch", (IEnumerable<SelectListItem>)ViewBag.batch, "Select Batch", new { @class = "form-control", @id = "students" })
        @Html.ValidationMessageFor(model => model.batch, "", new { @class = "text-danger" })
    </div>
</div>

