﻿@model Archer.Models.StudentWithBatchModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<section class="content">
    @using (Html.BeginForm("Create", "StudentHasBatch", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-danger card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Student with Batch</h3>
                            </div>
                            <div class="card-body">
                                @Html.Partial("~/Views/StudentHasBatch/_AddEditStudentBatch.cshtml", Model)
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-danger">Add</button>
                                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "StudentHasBatch")'">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</section>

