﻿@model Archer.Models.ChannelModel
<div class="row form-group">
    <div class="col-md-6">
        <label>Subject<span class="text-danger"> *</span></label>
        @Html.DropDownList("Subject", (IEnumerable<SelectListItem>)ViewBag.Subjects, "Select Subject", new { @class = "form-control", @id = "states" })
        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>
            Title<span class="text-danger"> *</span>
        </label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>
    </div>
<div class="row form-group">
    <div class="col-md-6">
        <label>YouTube Link<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.YouTube_Link, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.YouTube_Link, "", new { @class = "text-danger" })
    </div>
</div>