﻿@model IEnumerable<Archer.Models.ChannelModel>

@{
    ViewBag.Title = "Index"; Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info card-outline">
                    <div class="card-header">
                        <h3 class="card-title">List of Youtube Channels</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example" class="table table-striped table-bordered table-responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="text-center">Sr No.</th>
                                    <th class="text-center">Title</th>
                                    <th class="text-center">Subject</th>
                                    <th class="text-center">Link</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    var i = 0;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                @(i = i + 1)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(model => item.Title)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(model => item.Subject)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(model => item.YouTube_Link)
                                            </td>
                                            <td class="text-center"><a href="@Url.Action("Edit","Channel")?id=@item.id"><i class="fa fa-edit" title="Edit"></i></a>&nbsp;|&nbsp;<a href="@Url.Action("Delete","Channel")?id=@item.id"><i class="fa fa-trash" title="delete"></i></a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    $("#example").DataTable();
</script>
