﻿
@{
    ViewBag.Title = "Aboutus";
}
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../Content/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>About us</h1>
                        <h2>We MAKE <I>IT</I> EASY <a href="http://freehtml5.co" target="_blank"></a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About us</h2>
                <p>
                    Our proficiency lies in identifying your talent, understanding your aptitude, analysing your needs
                    and nurturing you to reach to the technical excellence.<br>
                    We have a proper course structure to improve the efficiency of the courses that we offer.
                    Our main aim is to provide quality education and training services.<br>
                    We also help to develop and master each and every individual’s skill in particular course.
                </p>
            </div>
        </div>
    </div><hr />
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Our Advantages </h2>
            </div>

            <div class="col-md-4 advantage-grid">
                <div class="advantage-block" style="border:groove">
                    <br />
                    <h4 class="text-center"><b>LIFETIME SUPPORT</b></h4>
                    <p class="text-center">We will provide you lifetime support on all the courses you learned from us.So join us for your bright future.</p>
                </div>
            </div>

            <div class="col-md-4 advantage-grid">
                <div class="advantage-block" style="border:groove">
                    <br />
                    <h4 class="text-center"><b>FREE UPGRADATION</b></h4>

                    <p class="text-center">You will be provided free upgradation for any newer versions of the course you have learned.</p>
                </div>
            </div>
            <div class="col-md-4 advantage-grid">
                <div class="advantage-block" style="border:groove">
                    <br />
                    <h4 class="text-center"><b>UPDATED SYLLABUS</b></h4>
                    <p class="text-center">We Try To Update Our Syllabus Regularely To Keep Up With The Changing Technologies as industry required.</p>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

@*<div id="fh5co-counter" class="fh5co-counters">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Company Founder</h2>
                </div>
                <div class="col-md-3">
                    <img src="~/Content/images/profile.jpg" alt="Yogesh Patil" />
                </div>
                <div class="col-md-6">
                    Mr.Yogesh Patil is an Electrical Engineer.He is master in Programming.
                    He found Archer Infotech on 2009.

                </div>
            </div>
        </div>
    </div>*@