﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Ajax";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Ajax</h2>
        <p>
            AJAX stands for Asynchronous JavaScript and XML. AJAX is a new technique for creating better,
            faster, and more interactive web applications with the help of XML, HTML, CSS, and Java Script.
            Ajax uses XHTML for content, CSS for presentation, along with Document Object Model and JavaScript
            for dynamic content display.
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">
            <button class="collapsible">
                Intoduction to AJAX
            </button>
            <div class="content">
                <p>
                    The Purpose of Ajax<br />
                    Traditional Web Application<br />
                    An Ajax Web Application<br />
                </p>
            </div>


            <button class="collapsible">2.Ajax Frameworks</button>
            <div class="content">
                <p>Point 2</p>
            </div>
            <button class="collapsible">
                3.HTML in AJAX
            </button>
            <div class="content">
                <p>
                    • Accessing Nodes<br />
                    Accessing Element Nodes<br />
                    Accessing Attribute Nodes<br />
                    getAttribute<br />
                    attributes[]<br />
                    Accessing Nodes by Type, Name or Value<br />
                    Accessing Nodes by Class Name<br />
                    • Removing Nodes from the DOM<br />
                    DOM Differences: The Whitespace Problem<br />
                    • Creating New Nodes
                </p>
            </div>
            <button class="collapsible">4.XML and Ajax </button>
            <div class="content">
                <p>
                    Creating a DOM Document with JavaScript<br />
                    • Accessing, Creating and Modifying XML Nodes<br />
                    Creating an AddChild() Function<br />
                    • Receiving XML Responses<br />
                    • Passing XML to the Server
                </p>
            </div>
            <button class="collapsible">5.JavaScript Object Notation (JSON)  </button>
            <div class="content">
                <p>
                    •Object Literals<br />
                    Arrays<br />
                    Objects<br />
                    Arrays in Objects<br />
                    Objects in Arrays<br />
                    • JSON<br />
                    JSON Syntax<br />
                    JSON Parsers<br />
                    JSON Advantages and Disadvantages

                </p>
            </div>
            <button class="collapsible">
                6. XSLT Transformations with JavaScript
            </button>
            <div class="content">
                <p>
                    • XSLT<br />
                         Basic XSLT<br />
                    • XSLT in the Browser<br />
                         XSLT in Internet Explorer<br />
                         XSLT in Mozilla<br />
                    • Sarissa<br />
                         XSLT in Ajax Applications<br />
                         Advantages and Disadvantages of XSLT in Ajax Applications

                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
        <br /><button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>
