﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Android";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Android</h2>
        <p>
            Android is a mobile operating system developed by Google. It is based on a modified version of the
            Linux kernel and other open source software, and is designed primarily for touchscreen mobile devices
            such as smartphones and tablets.
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">1.Intoduction to Android</button>
            <div class="content">
                <p>Introduction</p>
            </div>


            <button class="collapsible">2.Fundamentals </button>
            <div class="content">
                <p>
                    Basic Building blocks – Activities, Services, Broadcast
                    Receivers & Content providers
                    UI Components- Views & notifications
                    Components for communication -Intents & Intent Filters
                    Android API levels(versions & version names)
                <p>
            </div>
            <button class="collapsible">3.Application Structure</button>
            <div class="content">
                <p>
                    AndroidManifest.xml
                    uses-permission
                    Activity/services/receiver declarations
                </p>
            </div>
            <button class="collapsible">4.Emulator</button>
            <div class="content">
                <p>
                    Launching emulator
                    Editing emulator settings
                    Emulator shortcuts
                    Logcat usage
                    Introduction to Android Device Monitor (ADM)
                    File explorer
                </p>
            </div>
            <button class="collapsible">5.Basic UI design, Styles & Themes</button>
            <div class="content">
                <p>
                    Form widgets
                    Text Fields
                    Layouts
                </p>
            </div>
            <button class="collapsible">6.Adapters</button>
            <div class="content">
                <p>
                     ArrayAdapters
                     BaseAdapters
                     ListView and ListActivity
                     Custom listview
                     GridView using adapters
                     Gallery using adapters
                     Android Session and Session management
                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
            <button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>