﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Arduino";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">

        <h2>Arduino</h2>
        <p>
            Arduino is an open-source electronics platform based on easy-to-use hardware and software.
            Arduino boards are able to read inputs - light on a sensor, a finger on a button
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">1.Intoduction</button>
            <div class="content">
                <p>Introduction</p>
            </div>


            <button class="collapsible">2.LEDs </button>
            <div class="content">
                <p>
                    Blinking of LEDs<br />
                    Fading of LED<br />
                    Circleing of LED(for loop)<br />
                    Blinking even and odd states of LEDs<br />
                    LEDs Dice
                </p>
            </div>
            <button class="collapsible">3.Serial Monitoring</button>
            <div class="content">
                <p>
                    Controling of LEDs from your computers<br />
                    Reading analog and digital input
                </p>
            </div>
            <button class="collapsible">4.Digital inputs</button>
            <div class="content">
                <p>Digital inputs</p>
            </div>
            <button class="collapsible">4.Analog inputs</button>
            <div class="content">
                <p>Analog inputs</p>
            </div>

            <button class="collapsible">5.LCD display</button>
            <div class="content">
                <p>
                    Writing of LCD screen with Arduino<br />
                    Displaying a message in LCD screen<br />
                    Screen nevigation on LCD<br />
                    Scrolling of text
                </p>
            </div>
            <button class="collapsible">6.Seven Segment display</button>
            <div class="content">
                <p>
                    Simple automatic countdown and count up<br />
                    increament and decrement number by using push button

                </p>
            </div>
            <button class="collapsible">7.Servo Motors</button>
            <div class="content">
                <p>
                    Controlling Servo motors with Joystics<br />
                    indexing of Servo motors<br />
                    Direction control of Servo motors<br />
                    Servo motors based projects
                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
            <br /><button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>

