﻿
@{
    ViewBag.Title = "Batchshedule";
   
}
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../Content/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Batch Schedule</h1>
                        @*<h2>We MAKE <I>IT</I> EASY <a href="http://freehtml5.co" target="_blank"></a></h2>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

    <div class="container">
        <div class="row">
            <div class="pricing">
                <div class="col-md-4 animate-box">
                    <div class="price-box">
                        <h2 class="pricing-plan"><b>Morning Batch</b> </h2>
                        @* <div class="price"><sup class="currency">$</sup>9<small>/month</small></div>*@
                        <ul class="classes">
                            <li>C</li>
                            <li class="color">C++</li>
                            <li>Java</li>
                            <li class="color">.Net</li>
                            <li>Data Structure</li>
                            <li class="color">PHP</li>


                        </ul>
                        <a href="@Url.Action("Formfill", "Home")" class="btn btn-select-plan btn-sm">Demo Lecture</a>
                    </div>
                </div>
                <div class="col-md-4 animate-box">
                    <div class="price-box r">
                        <h2 class="pricing-plan"><b>Evening Batch</b></h2>
                        @* <div class="price"><sup class="currency">$</sup>74<small>/month</small></div>*@
                        <ul class="classes">
                            <li>C</li>
                            <li class="color">C++</li>
                            <li>Java</li>
                            <li class="color">.Net</li>
                            <li>Data Structure</li>
                            <li class="color">PHP</li>
                        </ul>
                        <a href="@Url.Action("Formfill", "Home")" class="btn btn-select-plan btn-sm">Demo Lecture</a>
                    </div>
                </div>
                <div class="col-md-4 animate-box">
                    <div class="price-box r">
                        <h2 class="pricing-plan"><b>Weekend Batches</b></h2>
                        @* <div class="price"><sup class="currency">$</sup>74<small>/month</small></div>*@
                        <ul class="classes">

                            <li class="color">Extra Language</li>
                            <li>Project Solution</li>
                            <li class="color">Weekend Batches</li>
                            <li>Project Solution</li>
                            <li class="color">Weekend Batches</li>
                            <li>Project Solution</li>
                        </ul>
                       <a href="@Url.Action("Formfill", "Home")" class="btn btn-select-plan btn-sm">Demo Lecture</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

