﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Bigdata";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Bigdata</h2>
        <p>
            Big data is a term defined for data sets that are large or complex that traditional data processing
            applications are inadequate. Big Data basically consists of analysis zing, capturing the data, data creation,
            searching, sharing, storage capacity, transfer, visualization, and querying and information privacy.
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">
            <button class="collapsible">1.Big Data Intoduction</button>
            <div class="content">
                <p>
                    - Big data: definition and taxonomy<br />
                    - Big data value for the enterprise<br />
                    - Setting up the demo environment<br />
                    - First steps with the Hadoop “ecosystem”<br />
                </p>
            </div>
            <button class="collapsible">2.The Hadoop ecosystem</button>
            <div class="content">
                <p>
                    - Introduction to Hadoop<br />
                    - Hadoop components: MapReduce/Pig/Hive/HBase<br />
                    - Loading data into Hadoop<br />
                    - Handling files in Hadoop<br />
                    - Getting data from Hadoop<br />
                </p>
            </div>
            <button class="collapsible">3.Querying big data with Hive</button>
            <div class="content">
                <p>
                    - Introduction to the SQL Language<br />
                    - From SQL to HiveQL<br />
                    - Introduction to HIVE e HIVEQL<br />
                    - Using Hive to query Hadoop files

                </p>
            </div>
            <button class="collapsible">4.Big data & Machine learning</button>
            <div class="content">
                <p>
                    Quick into to Machine learning<br />
                    - Big Data & Machine Learning<br />
                    - Machine learning tools<br />
                         Spark & SparkML<br />
                         H2O<br />
                         Azure ML
                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
        <br /><button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>