﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Bootstrap";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Bootstrap</h2>
        <p>
            Bootstrap is a free and open-source front-end web framework. It contains HTML and CSS-based design
            templates for typography, forms, buttons, navigation and other interface components, as well as optional
            JavaScript extensions.
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">
            <button class="collapsible">1.Intoduction to Bootstrap</button>
            <div class="content">
                <p>
                    History of Bootstrap
                    What is Bootstrap Framework
                    Why Bootstrap
                    Advantages of Bootstrap Framework
                </p>
            </div>
            <button class="collapsible">
                2.Bootstrap Grid
            </button>
            <div class="content">
                <p>
                     What is Bootstrap Grid<br />
                     How to apply Bootstrap Grid<br />
                     What is Container<br />
                     What is Offset Column<br />
                     How to Reordering Columns<br />
                     Advantages of Bootstrap Grid
                </p>
            </div>
            <button class="collapsible">3.Bootstrap Components</button>
            <div class="content">
                <p>
                    What are the different types of Bootstrap Components<br />
                     What is Glyphicons Component<br />
                    What is Navbar Component<br />

                </p>
            </div>
            <button class="collapsible">4.Bootstrap Plug-Ins</button>
            <div class="content">
                <p>
                     Why Bootstrap Plug-Ins<br />
                     How to use Bootstrap Plug-Ins<br />
                     What is Transition Plug-in<br />
                     What Modal Dialog Box<br />
                     What are the different Properties, Methods and Events of Model Dialog Box<br />
                     What is Scrollspy Plug-In<br />
                     What is Tab Plug-in<br />
                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
        <br /><button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>

