﻿@model Archer.Models.ArcherModels
@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>About The C Programming</h2>
        <p>
            The C programming language is used for developing system applications that forms a major portion of operating systems
            such as Windows,UNIX and Linux. Below are some examples of C being used.
        </p>

        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">
            <button class="collapsible">1.Intoduction</button>
            <div class="content">
                <p>
                    Program & Programming , Programming Languages, Introduction to compiler , Linker, loader, Interpreter ,<br />
                    Algorithm and Flowchart Classification of programming Languages , Overview of C.
                </p>
            </div>
            <button class="collapsible">2.Constants, Variables and Data types in C</button>
            <div class="content">
                <p>Point 2</p>
            </div>
            <button class="collapsible">3.Operators and Expressions</button>
            <div class="content">
                <p>Point 3</p>
            </div>
            <button class="collapsible">4.Managing Input and Output operation</button>
            <div class="content">
                <p>Point4</p>
            </div>
            <button class="collapsible">5.Decision making and Branching</button>
            <div class="content">
                <p>Point4</p>
            </div>
            <button class="collapsible">6.Arrays</button>
            <div class="content">
                <p>Character Arrays and Strings</p>
            </div>
            <button class="collapsible">7.function in C</button>
            <div class="content">
                <p>Recursion </p>
            </div>
            <button class="collapsible">8.Structures and Unions</button>
            <div class="content">
                <p>Character Arrays and Strings</p>
            </div>
            <button class="collapsible">9.Pointers</button>
            <div class="content">
                <p>
                    1.Allocation block of memory (Malloc)<br />
                    2.Allocation Multiple Blocks of Memory : Calloc<br />
                    3.Releasing the used space: free<br />
                    4.Altering the size of block : Realloc<br />
                </p>
            </div>
            <button class="collapsible">10.File Management in C</button>
            <div class="content">
                <p>Character Arrays and Strings</p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
            <br /><button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>



