﻿@{
    ViewBag.Title = "Contact";
}

<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../Content/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Contact Us</h1>
                        <h2>We MAKE <I>IT</I> EASY<a href="http://freehtml5.co" target="_blank"></a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

@*<div id="fh5co-contact">*@
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About us</h2>
                <p>
                    Our proficiency lies in identifying your talent, understanding your aptitude, analysing your needs
                    and nurturing you to reach to the technical excellence.<br>
                    We have a proper course structure to improve the efficiency of the courses that we offer.
                    Our main aim is to provide quality education and training services.<br>
                    We also help to develop and master each and every individual’s skill in particular course.
                </p>
            </div>
        </div><hr />
              <div class="container">
                  <div class="row animate-box">
                      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                          <h2>Our Advantages </h2>
                      </div>

                      <div class="col-md-4 advantage-grid">
                          <div class="advantage-block" style="border:groove">
                              <br />
                              <h4 class="text-center"><b>LIFETIME SUPPORT</b></h4>
                              <p class="text-center">We will provide you lifetime support on all the courses you learned from us.So join us for your bright future.</p>
                          </div>
                      </div>

                      <div class="col-md-4 advantage-grid">
                          <div class="advantage-block" style="border:groove">
                              <br />
                              <h4 class="text-center"><b>FREE UPGRADATION</b></h4>

                              <p class="text-center">You will be provided free upgradation for any newer versions of the course you have learned.</p>
                          </div>
                      </div>
                      <div class="col-md-4 advantage-grid">
                          <div class="advantage-block" style="border:groove">
                              <br />
                              <h4 class="text-center"><b>UPDATED SYLLABUS</b></h4>
                              <p class="text-center">We Try To Update Our Syllabus Regularely To Keep Up With The Changing Technologies as industry required.</p>
                          </div>
                      </div>
                  </div>
                  <div class="clearfix"> </div>
              </div>
              <div id="fh5co-contact">
                  <div class="row">
                      <div class="col-md-6">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15274.252738643241!2d74.59903775!3d16.84801265!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1552450615926" width="450" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

                          <div class="fh5co-contact-info">
                              <br> <h3>Contact Information</h3>
                              <ul>
                                  <li class="address">Archer Infotech<br> Vishawlila apt,near Yes sir hotel,<br>Vishrambagh,Sangli 416415.</li>
                                  <li class="phone"><a href="tel://9850678451">+91- 9850678451</a></li>
                                  <li class="email"><a href="archerinfotech@gmail.com">archerinfotech@gmail.com</a></li>
                              </ul>
                          </div>

                      </div>
                      <div class="col-md-6 animate-box">
                          <h3>Get In Touch</h3>
                          <form action="#">
                              <div class="row form-group">
                                  <div class="col-md-6">
                                      <!-- <label for="fname">First Name</label> -->
                                      <input type="text" id="fname" class="form-control" placeholder="Your firstname">
                                  </div>
                                  <div class="col-md-6">
                                      <!-- <label for="lname">Last Name</label> -->
                                      <input type="text" id="lname" class="form-control" placeholder="Your lastname">
                                  </div>
                              </div>

                              <div class="row form-group">
                                  <div class="col-md-12">
                                      <!-- <label for="email">Email</label> -->
                                      <input type="text" id="email" class="form-control" placeholder="Your email address">
                                  </div>
                              </div>

                              <div class="row form-group">
                                  <div class="col-md-12">
                                      <!-- <label for="subject">Subject</label> -->
                                      <input type="text" id="subject" class="form-control" placeholder="Your subject of this message">
                                  </div>
                              </div>

                              <div class="row form-group">
                                  <div class="col-md-12">
                                      <!-- <label for="message">Message</label> -->
                                      <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about us"></textarea>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <input id="submit" onclick="myFunction()" type="button" value="Submit">
                              </div>

                          </form>
                      </div>
                  </div>

              </div>
   
</div>
<script>
    function myFunction() {
        var fname = document.getElementById("fname").value;
        var lname = document.getElementById("lname").value;
        var email = document.getElementById("email").value;
        var subject = document.getElementById("subject").value;
        var message = document.getElementById("message").value;
        // Returns successful data submission message when the entered information is stored in database.
        var dataString = 'fname=' + fname + '&lname=' + lname + '&email=' + email + '&subject=' + subject + '&Message=' + message;
        if (fname == '' || lname == '' || email == '' || subject == '' || message == '') {
            
        } else {
            // AJAX code to submit form.
            //alert(dataString);
            $.ajax({
                type: "POST",
                url: "/Home/Sendtoemail",
                data: dataString,
                cache: false,
                success: function (html) {
                    //alert(html);
                }
            });
        }
        return false;
    }
</script>

