﻿
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">*@


@{
    ViewBag.Title = "Index"; Layout = "~/Views/Shared/_LayoutPage1.cshtml"; }
@model IEnumerable<Archer.Models.sql.ContactModel>
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Student Enquiry List</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <table id="example" class="table table-striped table-bordered">
                            @*<table class="table">*@
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Subject</th>
                                    <th>Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => item.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.lname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.subject)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.msg)
                                    </td>
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $("#example").DataTable();
</script>


