﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Cordova";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div class="container">
    <h2>Cordova</h2>
    <p>
        Apache Cordova is a mobile application development framework originally created by Nitobi.
        Adobe Systems purchased Nitobi in 2011, rebranded it as PhoneGap, and later released an open
        source version of the software called Apache Cordova.
    </p>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Syllabus</button>
    <div id="demo" class="collapse">

    </div>
    @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(x => x.course)
        <button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

    }
</div>
