﻿@{
    ViewBag.Title = "Course";

   
}
<style>
    .well-sm {
        box-shadow: 2px 4px 2px 1px;
    }
</style>

@*<style>
        .boxdemo {
            border: 1px solid #f7f1f1;
            margin: 5px;
            font-size: 14px;
            padding: 15px;
            width: 120px;
            height: 90px;
            border-radius: 2px;
            -webkit-box-shadow: -2px 10px 22px -16px rgba(0,0,0,.75);
            -moz-box-shadow: -2px 10px 22px -16px rgba(0,0,0,.75);
            box-shadow: -2px 10px 22px -16px rgba(0,0,0,.75);
        }
    </style>*@
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../Content/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Courses</h1>
                        <h2>We MAKE <I>IT</I> EASY <a href="http://freehtml5.co" target="_blank"></a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    @*<div class="shadow"></div>*@

    <div id="fh5co-pricing">
        <h3 id="ps">Programming Essencial</h3>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-md-2">
                    <div class="well-sm" style="background-color:aliceblue">
                        <img src="~/Content/images/clogo.jpg" /> <br/>
                        <a href="@Url.Action("Clang", "Home",new { Course="C"})">

                            <h4 style="color:blue">View</h4>
                        </a>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="well-sm" style="background-color:aliceblue">
                        <img src="~/Content/images/cpp.png" />
                        <a href="@Url.Action("Cpp", "Home",new { Course="CPP"})">
                            <h4 style="color:blue">View</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="well-sm" style="background-color:aliceblue">
                        <img src="~/Content/images/ds.png" />
                        <a href="@Url.Action("DS", "Home",new { Course="DS"})">
                            <h4 style="color:blue">View</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="well-sm" style="background-color:aliceblue">
                        <img src="~/Content/images/javas.png" />
                        <a href="@Url.Action("Java", "Home",new { Course="Java"})">
                            <h4 style="color:blue">View</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="well-sm" style="background-color:aliceblue">
                        <img src="~/Content/images/cshrap.jpg" /><br/>
                        <a href="@Url.Action("Csharp", "Home",new { Course="C#"})">
                            <h4 style="color:blue">View</h4>
                        </a>
                    </div>
                </div>
                <div id="name">
                    <div class="col-md-2">
                        <div class="well-sm" style="background-color:aliceblue">
                            <img src="~/Content/images/python.png" />
                            <a href="@Url.Action("Python", "Home", new { Course = "Python" })">
                                <h4 style="color:blue">View</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 id="jt">Java Technology</h3>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="col-md-2">
                <div class="well-sm" style="background-color:aliceblue">
                    <img src="~/Content/images/javas.png" />
                    <a href="@Url.Action("Javat", "Home", new { Course = "Java 8" })">
                        <h4 style="color:blue">View</h4>
                    </a>
                </div>
            </div>

            <div class="col-md-2">
                <div class="well-sm" style="background-color:aliceblue">
                    <img src="~/Content/images/jdbc.jpg" />
                    <a href="@Url.Action("Jdbc", "Home", new { Course = "Jdbc" })">
                        <h4 style="color:blue">View</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="well-sm" style="background-color:aliceblue">
                    <img src="~/Content/images/servelet.png" />
                    <a href="@Url.Action("Servlet", "Home", new { Course = "Servlet" })">
                        <h4 style="color:blue">View</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="well-sm" style="background-color:aliceblue">
                    <img src="~/Content/images/hybernate.png" /><br/>
                    <a href="@Url.Action("Hibernate", "Home", new { Course = "Hibernate" })">
                        <h4 style="color:blue">View</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="well-sm" style="background-color:aliceblue">
                    <img src="~/Content/images/spring1.png" />
                    <a href="@Url.Action("Spring", "Home", new { Course = "Spring" })">
                        <h4 style="color:blue">View</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="well-sm" style="background-color:aliceblue">
                    <img src="~/Content/images/javaswing.jpg" />
                    <a href="@Url.Action("Swing", "Home", new { Course = "Swing" })">
                        <h4 style="color:blue">View</h4>
                    </a>
                </div>
            </div>
        </div>
        <div id="fh5co-pricing">
            <h3 id="db">DataBase</h3>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="col-md-2">
                        <div class="well-sm" style="background-color:aliceblue">
                            <img src="~/Content/images/dbms.png" />
                            <a href="@Url.Action("Dbms", "Home", new { Course = "Dbms" })">
                                <h4 style="color:blue">View</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="well-sm" style="background-color:aliceblue">
                            <img src="~/Content/images/rdbms.jpg" /><br/>
                            <a href="@Url.Action("Rdbms", "Home", new { Course = "Rdbms" })">
                                <h4 style="color:blue">View</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="well-sm" style="background-color:aliceblue">
                            <img src="~/Content/images/sql.png" />
                            <a href="@Url.Action("Sql", "Home", new { Course = "SQL" })">
                                <h4 style="color:blue">View</h4>
                            </a>
                        </div>
                    </div>
                    @*<div class="col-md-2">
                        <div class="well-sm" style="background-color:aliceblue">
                            <img src="~/Content/images/ajax.png" />
                            <a href="@Url.Action("Ajax", "Home", new { Course = "Ajax" })">
                                <h4 style="color:blue">View</h4>
                            </a>
                        </div>
                    </div>*@
                    <div class="col-md-2">
                        <div class="well-sm" style="background-color:aliceblue">
                            <img src="~/Content/images/mysql.png" />
                            <a href="@Url.Action("Mysql", "Home", new { Course = "MySql" })">
                                <h4 style="color:blue">View</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="well-sm" style="background-color:aliceblue">
                            <img src="~/Content/images/oracle.png" />
                            <a href="@Url.Action("Oracle", "Home", new { Course = "Oracle" })">
                                <h4 style="color:blue">View</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <h3 id="mt">Mobile Technology</h3>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-md-2">
                    <div class="well-sm" style="background-color:aliceblue">
                        <img src="~/Content/images/androidlogo.png" />
                        <a href="@Url.Action("Android", "Home", new { Course = "Android" })">
                            <h4 style="color:blue">View</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="well-sm" style="background-color:aliceblue">
                        <img src="~/Content/images/ioslogo.png" />
                        <a href="@Url.Action("Ios", "Home", new { Course = "Ios" })">
                            <h4 style="color:blue">View</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="well-sm" style="background-color:aliceblue">
                        <img src="~/Content/images/kotlin.png" />
                        <a href="@Url.Action("Kotlin", "Home", new { Course = "Kotlin" })">
                            <h4 style="color:blue">View</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="well-sm" style="background-color:aliceblue">
                        <img src="~/Content/images/react native.png" />
                        <a href="@Url.Action("ReactNative", "Home", new { Course = "ReactNative" })">
                            <h4 style="color:blue">View</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="well-sm" style="background-color:aliceblue">
                        <img src="~/Content/images/xamrin.png" />
                        <a href="@Url.Action("Xamrin", "Home", new { Course = "Xamarin" })">
                            <h4 style="color:blue">View</h4>
                        </a>
                    </div>
                </div>
            </div>


            <div id="fh5co-pricing">
                <h3 id="wd">Web Development</h3>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="col-md-2">
                            <div class="well-sm" style="background-color:aliceblue">
                                <img src="~/Content/images/html.png" />
                                <a href="@Url.Action("HtmlDemo", "Home", new { Course = "Html" })">
                                    <h4 style="color:blue">View</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="well-sm" style="background-color:aliceblue">
                                <img src="~/Content/images/css.png" />
                                <a href="@Url.Action("Css", "Home", new { Course = "Css" })">
                                    <h4 style="color:blue">View</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="well-sm" style="background-color:aliceblue">
                                <img src="~/Content/images/js.png" /><br/>
                                <a href="@Url.Action("JavaScripts", "Home", new { Course = "JavaScript" })">
                                    <h4 style="color:blue">View</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="well-sm" style="background-color:aliceblue">
                                <img src="~/Content/images/ajax.png" />
                                <a href="@Url.Action("Ajax", "Home", new { Course = "Ajax" })">
                                    <h4 style="color:blue">View</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="well-sm" style="background-color:aliceblue">
                                <img src="~/Content/images/bootstrap.png" />
                                <a href="@Url.Action("Bootstrap", "Home", new { Course = "Bootstrap" })">
                                    <h4 style="color:blue">View</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="well-sm" style="background-color:aliceblue">
                                <img src="~/Content/images/php.png" />
                                <a href="@Url.Action("Php", "Home", new { Course = "Php" })">
                                    <h4 style="color:blue">View</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <h3 id="et">Embedded Technology</h3>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="col-md-2">
                        <div class="well-sm" style="background-color:aliceblue">
                            <img src="~/Content/images/arduino.png" />
                            <a href="@Url.Action("Arduino", "Home", new { Course = "Arduino" })">
                                <h4 style="color:blue">View</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="well-sm" style="background-color:aliceblue">
                            <img src="~/Content/images/iot.png" />
                            <a href="@Url.Action("Iot", "Home", new { Course = "Iot" })">
                                <h4 style="color:blue">View</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="well-sm" style="background-color:aliceblue">
                            <img src="~/Content/images/rasberry.png" />
                            <a href="@Url.Action("Rasberry", "Home", new { Course = "Rasberry" })">
                                <h4 style="color:blue">View</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="fh5co-pricing">
                <h3 id="ct">CrossPlatform Technology</h3>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="col-md-2">
                            <div class="well-sm" style="background-color:aliceblue">
                                <img src="~/Content/images/cordova.jpg" /><br/>
                                <a href="@Url.Action("Cordova", "Home", new { Course = "Cordova" })">
                                    <h4 style="color:blue">View</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="well-sm" style="background-color:aliceblue">
                                <img src="~/Content/images/ionic.jpg" /><br/>
                                <a href="@Url.Action("Ionic", "Home", new { Course = "Ionic" })">
                                    <h4 style="color:blue">View</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="fh5co-pricing">
                <h3 id="lt">Latest Technology</h3>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="col-md-2">
                            <div class="well-sm" style="background-color:aliceblue">
                                <img src="~/Content/images/bigdata.png" />
                                <a href="@Url.Action("Bigdata", "Home", new { Course = "Bigdata" })">
                                    <h4 style="color:blue">View</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="well-sm" style="background-color:aliceblue">
                                <img src="~/Content/images/hadoop.png" />
                                <a href="@Url.Action("Hadoop", "Home", new { Course = "Hadoop" })">
                                    <h4 style="color:blue">View</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="well-sm" style="background-color:aliceblue">
                                <img src="~/Content/images/machine.jpg" /><br />
                                <a href="@Url.Action("MachineLearing", "Home", new { Course = "MachineLearing" })">
                                   <h4 style="color:blue">View</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="well-sm" style="background-color:aliceblue">
                                <img src="~/Content/images/sas.png" />
                                <a href="@Url.Action("Saas", "Home", new { Course = "Saas" })">
                                    <h4 style="color:blue">View</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="well-sm" style="background-color:aliceblue">
                                <img src="~/Content/images/tableau.png" />
                                <a href="@Url.Action("Tableau", "Home", new { Course = "Tableau" })">
                                    <h4 style="color:blue">View</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@*<p>
                        A data structure is a specialized format for organizing and storing data.
                        General data structure types include the array, the file, the record, the table, the tree, and so on.
                        In computer programming, a data structure may be selected or
                        designed to store data for the purpose of working on it with various algorithms.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="dbms" class="hide">
        <div class="container">

            <div class="row">
                <div class="col-lg-9">
                    <h2> Database Management System</h2>
                    <img src="~/Content/images/dbms.png" />
                    <p>
                        The DBMS provides users and programmers with a systematic way to create, retrieve, update and manage data.
                        The DBMS manages three important things: the data, the database engine that allows data to be accessed,
                        locked and modified  and the database schema, which defines the database's logical structure
                    </p>
                </div>
            </div>
        </div>
    </section>*@

@*<section id="rdms" class="hide">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Relational Database Management System<</h2>
                    <p>
                        A relational database management system (RDBMS) is a collection of programs and capabilities that
                        enable IT teams and others to create, update, administer and otherwise interact with a relational database.
                        Most commercial RDBMSes use Structured Query Language (SQL) to access the database,
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="as" class="hide">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Adobe Creative Suite</h2>
                    <img src="~/Content/images/adopesuit.jpg" />
                    <p>
                        Adobe Creative Suite (CS) is a now-discontinued software suite of graphic design, video editing,
                        and web development applications developed by Adobe Systems.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="cj" class="hide">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Core Java</h2>

                    <img src="~/Content/images/java.png" />
                    <p>
                        core java is the fundamental for java that will be used in any java
                        technology without this no one can jump on any advance java technology.
                        And more over core java packages are always started with java.lang.
                        "core java means "stand -alone" java application.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="aj" class="hide">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Advance Java</h2>
                    <p>
                        Advance java is used to developing the web-based application and enterprise application.
                        Advance java differentiation such as in web, DCOM, or database.Advance java is used to the application server .
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="vbnet" class="hide">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Visual Basic.NET</h2>
                    <img src="~/Content/images/vb.jpg" />

                    <p>
                        Visual Basic .NET (VB.NET) is a multi-paradigm, object-oriented programming language,
                        implemented on the .NET Framework.Microsoft's integrated development environment (IDE) for developing
                        in Visual Basic .NET language is Visual Studio.
                    </p>
                </div>
            </div>
        </div>
    </section>*@
@*<section id="aspnet" class="hide">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2>ASP.NET</h2>

                    <img src="~/Content/images/asp.jpg" />
                    <p>
                        ASP.NET is an open-source server-side web application framework designed for web development
                        to produce dynamic web pages. It was developed by Microsoft to allow programmers to build
                        dynamic web sites, web applications and web services.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="mobc" class="hide">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Mobile and Crossplatform Technology</h2>

                    <img src="~/Content/images/xamrin.png" />
                    <p>
                        Cross-platform mobile development is the creation of software applications that are compatible with
                        multiple mobile operating systems. Originally, the complexity of developing mobile apps was compounded by
                        the difficulty of building out a backend that worked across multiple platforms.
                    </p>
                </div>
            </div>
        </div>
    </section>*@
@*<section id="webt" class="hide">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Web Technology</h2>

                    <img src="~/Content/images/web.jpg" />
                    <p>
                        Web technology refers to the means by which computers communicate with each other using markup
                        languages and multimedia packages. It gives us a way to interact with hosted information,
                        like websites. Web technology involves the use of hypertext markup language (HTML)
                        and cascading style sheets (CSS)
                    </p>
                </div>
            </div>
        </div>
    </section>*@

