﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Cpp";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">

    <div class="container">
        <h2>About The Cpp Programming</h2>
        <p>
            C++ is a general-purpose object-oriented programming (OOP) language.C++ is considered to be an intermediate-level language,
            as it encapsulates both high- and low-level language features.C++ is one of the most popular languages primarily utilized
            with system/application software, drivers, client-server applications and embedded firmware.
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">Intoduction of C++ Programming</button>
            <div class="content">
                <p>
                    .Introduction to OOP and its basic features
                    .Basic components of a C++
                    .Program and program structure
                    .Compiling and Executing C++ Program.
                </p>
            </div>


            <button class="collapsible">2.Data types, Expression and control statements Iteration</button>
            <div class="content">
                <p>Point 2</p>
            </div>
            <button class="collapsible">3.Object and Class</button>
            <div class="content">
                <p>Point 3</p>
            </div>
            <button class="collapsible">4.Functions</button>
            <div class="content">
                <p>Point 3</p>
            </div>
            <button class="collapsible">5.Creating classes and Abstraction</button>
            <div class="content">
                <p>Classes objects, data members, member functions, this Pointer, Friends, Friend Functions, Friend Classes, Friend Scope, and Static Functions.</p>
            </div>
            <button class="collapsible">6.Constructors and Destructors</button>
            <div class="content">
                <p></p>
            </div>
            <button class="collapsible">7.Inheritance in C++</button>
            <div class="content">
                <p>
                    1.Types of Inheritance
                    2.Multiple Inheritance
                </p>
            </div>
            <button class="collapsible">8.Virtual Functions</button>
            <div class="content">
                <p>
                    1.Polymorphism
                    2.Abstract classes.
                </p>
            </div>
            <button class="collapsible">9.Files and streams in C++</button>
            <div class="content">
                <p>
                    1.Character and String input and output to files
                    2.Command Line Arguments and Printer Output.
                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
            <br /><button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>