﻿
@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Csharp";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>C#</h2>
        <p>
            C# (pronounced "C-sharp") is an object-oriented programming language from Microsoft that aims to
            combine the computing power of C++ with the programming ease of Visual Basic. C# is based on C++
            and contains features similar to those of Java
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">
                1.MS.NET Framework Introduction
            </button>
            <div class="content">
                <p>
                    -The.NET Framework - an Overview
                    -Framework Components
                    -Framework Versions
                    -Types of Applications which can be developed using MS.NET
                    -MS.NET Base Class Library
                    -MS.NET Namespaces
                    -The Common Language Runtime (CLR)
                    -Managed Code
                    -MS.NET Memory Management / Garbage Collection
                    -Common Type System (CTS)
                    -Common Language Specification (CLS)
                    -Types of JIT Compilers
                    -Security Manager
                </p>
            </div>
            <button class="collapsible">2.VS.NET and Entry Point Method –Main</button>
            <div class="content">
                <p>
                    -Introduction to Project and Solution in Studio
                    -Entry point method - Main.
                    -Compiling and Building Projects
                    -Using Command Line Arguments
                    -Importance of Exit code of an application
                    -Different valid forms of Main
                    -Compiling a C# program using commandline utility CSC.EXE
                </p>
            </div>
            <button class="collapsible">
                OOPs-Concept
            </button>
            <div class="content">
                <p>
                    Learning about Class, Object, Component, Encapsulation, Inheritance, Polymorphism
                    & Object Creation and Instantiation.
                </p>
            </div>
            <button class="collapsible">OOPs-Programming Encapsulation</button>
            <div class="content">
                <p> Understanding Encapsulation Concept through an example.</p>
            </div>
            <button class="collapsible">OOPs-Inheritance</button>
            <div class="content">
                <p>
                    -Introduction to Inheritance
                    -Constructor & Inheritance
                    -Type Casting of Reference Types
                    -Static and Dynamic Binding
                    -Abstract Class
                </p>
            </div>
            <button class="collapsible">OOPs-Interface & Polymorphism</button>
            <div class="content">
                <p>
                    - What is Polymorphism
                    - Overview of Interface
                    - Interface with examples
                    - Types of Inheritance
                </p>
            </div>
            <button class="collapsible">
                Collections and Generics
            </button>
            <div class="content">
                <p>
                    - Introducing Collections .
                    - Benefits of Collection Classes .
                    - Understanding and using commonly used collections.
                    - Generics
                    - Advantages of Generics .
                    - How Generics Work at Runtime .
                    - Constraint on Type Parameters .
                    - Generic Methods
                    - Generic Collections
                    - Selecting a Collection Class
                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
            <br /><button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>
