﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Css";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Css</h2>
        <p>
            CSS stands for Cascading Style Sheets
            CSS describes how HTML elements are to be displayed on screen, paper, or in other media
            CSS saves a lot of work. It can control the layout of multiple web pages all at once
            External stylesheets are stored in CSS files

        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">1.Intoduction</button>
            <div class="content">
                <p>
                    Benefits of CSS
                    CSS Versions History
                    CSS Syntax
                    External Style Sheet using <link>
                    Multiple Style Sheets
                    Value Lengths and Percentages
                </p>
            </div>
            <button class="collapsible">2.Syntax</button>
            <div class="content">
                <p>
                    CSS Syntax
                    single Style Sheets
                    Multiple Style Sheets
                    Value Lengths and Percentages
                </p>
            </div>
            <button class="collapsible">
                3.Color Background Cursor
            </button>
            <div class="content">
                <p>
                    background-image
                    background-repeat
                    background-position
                    CSS Cursor
                </p>
            </div>
            <button class="collapsible">4.Text Fonts</button>
            <div class="content">
                <p>Point4</p>
            </div>
            <button class="collapsible">
                5.Box Model
            </button>
            <div class="content">
                <p>
                    Borders & Outline
                    Margin & Padding
                    Height and width
                    CSS Dimensions
                </p>
            </div>
            <button class="collapsible">6.Display Positioning</button>
            <div class="content">
                <p>
                     CSS Visibility
                     CSS Display
                     CSS Scrollbars
                     CSS Positioning
                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
            <br /><button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>
