﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Dbms";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Dbms</h2>
        <p>
            Database Management System (also known as DBMS) is a software for storing and retrieving users
            data by considering appropriate security measures. It allows users to create their own databases
            as per their requirement.In large systems, a DBMS helps users and other third-party software to \
            store and retrieve data.
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">1.Introduction to Databases</button>
            <div class="content">
                <p>
                    What is database system, purpose of database system, view of data, relational
                    databases, database architecture, transaction management.
                </p>
            </div>


            <button class="collapsible">2.Data Models</button>
            <div class="content">
                <p>
                    The importance of data models, Basic building blocks, Business rules, The evolution
                    of data models, Degrees of data abstraction.
                </p>
            </div>
            <button class="collapsible">3.Database Design ,ER-Diagram and Unified Modeling Language</button>
            <div class="content">
                <p>
                    Database design and ER Model:overview, ER-Model, Constraints, ER-Diagrams, ERD
                    Issues, weak entity sets, Codd’s rules, Relational Schemas, Introduction to UML
                </p>
            </div>
            <button class="collapsible">4.Relational Algebra and Calculus</button>
            <div class="content">
                <p>
                    Relational algebra: introduction, Selection and projection, set operations, renaming,
                    Joins, Division, syntax, semantics. Operators, grouping and ungrouping, relational
                    comparison.
                    Calculus: Tuple relational calculus, Domain relational Calculus, calculus vs algebra,
                    computational capabilities.
                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
           <br/> <button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>
