﻿
@{
    ViewBag.Title = "DetailExamInfo";
   
}
<style>
    .fh5co-cover .overlay {
        background-color: #332525e0;
    }
    .fh5co-cover.fh5co-cover-sm {
        height: 200px;
    }
    #fh5co-started .overlay {
        background: rgba(0, 0, 0, 0.7);
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>*@
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../Content/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
   
</header>

<div id="fh5co-blog">
    <div class="container">
        <div class="row well">
            <div class="col-md-4">
                <img src="~/Content/images/tcs.png" />
            </div>
            <div class="col-md-6">
                <h2><b>Tata Consultancy Services</b></h2>
                <p>
                    Tata Consultancy Services. Tata Consultancy Services Limited (TCS) is an Indian multinational information technology (IT) service and consulting company headquartered in Mumbai, Maharashtra, India. ... TCS is the largest Indian company by market capitalization.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p>
                    TCS has released its application for TCS Ninja recruitment which is also called as TCS National Qualifier test (TCS NQT) on June 7th, 2019. TCS Ninja recruitment is open for all 2020 graduates across India. TCS NQT has been one of the most awaited recruitments this year.
                </p>


                <h1>TCS Ninja Recruitment process for TCS NQT 2019</h1>
                <p>
                    TCS Ninja NQT Online test would happen nation-wide on 20th July 2019 and the interviews would begin from 25th July onwards. The last date to apply for TCS Ninja NQT is 10th July 2019 11:59 PM. If you haven’t applied yet, then do it now.
                </p>
                <h1>TCS Ninja Eligibility Criteria</h1>
                <p>
                    Year of Passing: Batch of 2020<br />
                    Qualification: Full-Time Students from B.E/B.Tech/M.E/M.Tech/M.Sc/MCA-2020 YOP
                </p>
                <p>
                    Specialization:<br />
                    B.E/B.Tech/M.E/M.Tech – All Specializations<br />
                    M.Sc – Computer Science/Information Technology and other related disciplines
                </p>
                <a href="https://www.faceprep.in/tcs-ninja-recruitment-process" class="btn btn-primary">More Information</a>

            </div>
        </div>
    </div>
</div>


