﻿@model Archer.Models.OnlineCourcesModel
@{
    ViewBag.Title = "DetailCourse";
   
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../Content/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
    
    <style>
        .fh5co-cover .overlay {
            background-color: #332525e0;
            
        }
        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

            .active, .collapsible:hover {
                background-color: #555;
            }

        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }
        .fh5co-cover.fh5co-cover-sm

        {
            height: 200px;
        }
        
    </style>

<div id="fh5co-blog">
    <div class="container">
        <div class="row well">
            @* <div class="col-md-2"></div>*@

            <div class="col-md-4">
                <img src="@Url.Content("~/Static/Images/CourcesImages/"+@Model.id+"/" + @Model.Image)" height="200" width="200" />
            </div>
            <div class="col-md-6 margin-right">
                <h3>@Model.Name</h3>
                <p>
                    @Model.Info
                </p>
            </div>
            @*<div class="col-md-1"></div>*@
        </div>
        <div class="row">
            <div class="col-md-8">
                <h4>What You Will Learn</h4>
                <div class="col-md-1">
                    <img src="~/Content/images/right.png" />
                </div>
                <div class="col-md-4">
                    <p>
                        Develop a solid approach for achieving a productive and successful relationship with your client
                    </p>

                </div>
                @*<div class="col-md-1"></div>*@
                <div class="col-md-1">
                    <img src="~/Content/images/right.png" />
                </div>
                <div class="col-md-4">
                    <p>
                        Develop a solid approach for achieving a productive and successful relationship with your client
                    </p>

                </div>

            </div>
            <div class="col-md-4">
                <img src="~/Content/images/facebook.jpg" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/Content/images/twitter.jpg" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/Content/images/dribbble.png" /><br /><br />
                <h3><b><i>Inform Your Friends</i></b></h3>
            </div>

            <div class="col-md-8">
                <div class="col-md-1">
                    <img src="~/Content/images/right.png" />
                </div>
                <div class="col-md-4">
                    <p>
                        Develop a solid approach for achieving a productive and successful relationship with your client
                    </p><br />
                </div>
                <div class="col-md-1">
                    <img src="~/Content/images/right.png" />
                </div>
                <div class="col-md-4">
                    <p>
                        Develop a solid approach for achieving a productive and successful relationship with your client
                    </p>
                </div><br /><br /><br /><br /><br />
                <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
                <div id="demo" class="collapse">
                    <button class="collapsible">1.Intoduction</button>
                    <div class="content">
                        <p>
                            Program & Programming , Programming Languages, Introduction to compiler , Linker, loader, Interpreter ,<br />
                            Algorithm and Flowchart Classification of programming Languages , Overview of C.
                        </p>
                    </div>
                    <button class="collapsible">2.Constants, Variables and Data types in C</button>
                    <div class="content">
                        <p>Point 2</p>
                    </div>
                    <button class="collapsible">3.Operators and Expressions</button>
                    <div class="content">
                        <p>Point 3</p>
                    </div>
                    <button class="collapsible">4.Managing Input and Output operation</button>
                    <div class="content">
                        <p>Point4</p>
                    </div>
                    <button class="collapsible">5.Decision making and Branching</button>
                    <div class="content">
                        <p>Point4</p>
                    </div>
                    <button class="collapsible">6.Arrays</button>
                    <div class="content">
                        <p>Character Arrays and Strings</p>
                    </div>
                    <button class="collapsible">7.function in C</button>
                    <div class="content">
                        <p>Recursion </p>
                    </div>
                    <button class="collapsible">8.Structures and Unions</button>
                    <div class="content">
                        <p>Character Arrays and Strings</p>
                    </div>
                    <button class="collapsible">9.Pointers</button>
                    <div class="content">
                        <p>
                            1.Allocation block of memory (Malloc)<br />
                            2.Allocation Multiple Blocks of Memory : Calloc<br />
                            3.Releasing the used space: free<br />
                            4.Altering the size of block : Realloc<br />
                        </p>
                    </div>
                    <button class="collapsible">10.File Management in C</button>
                    <div class="content">
                        <p>Character Arrays and Strings</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 well" style="background-color:ghostwhite">
                <h3>100% online courses</h3>
                <p>Start instantly and learn at your own schedule.</p>
                <h3>Flexible Schedule</h3>
                <p>Set and Maintain Flexible deadlines.</p>
                <h3>Approx.3 Months to Complete.</h3>
                <p>Suggested 8 hours/week.</p>
                <h3>Begginer Level.</h3>
                <p>Near about 12years experience.</p>
            </div>
        </div>
    </div>
</div>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>


