﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "DS";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Data Structure</h2>
        <p>
            A data structure is a specialized format for organizing and storing data.
            General data structure types include the array, the file, the record, the table, the tree, and so on.
            In computer programming, a data structure may be selected or
            designed to store data for the purpose of working on it with various algorithms.
        </p>

        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">1.Intoduction of data structure</button>
            <div class="content">
                <p>
                    Concept Data Structure<br />
                    Need of Data structure<br />
                    Advantages of using DS<br />
                </p>
            </div>


            <button class="collapsible">2.Introduction to Algorithms </button>
            <div class="content">
                <p>
                    Algorithm Development<br />
                    Complexity analysis<br />
                    Recursion<br />
                </p>
            </div>
            <button class="collapsible">3.Linear Data Structures</button>
            <div class="content">
                <p>
                    Stacks
                    Queues
                    Circular Queues
                </p>
            </div>
            <button class="collapsible">4.Links Lists</button>
            <div class="content">
                <p>
                    Operation – Creations, insertion, Deletion
                    Circular Lists
                    Doubly Linked List
                </p>
            </div>
            <button class="collapsible">5.Sorting</button>
            <div class="content">
                <p>
                    Insertion Sort
                    Merge Sort
                    Quick Sort
                </p>
            </div>
            <button class="collapsible">6.Searching</button>
            <div class="content">
                <p>
                    Binary Search
                    Selection
                </p>
            </div>
            <button class="collapsible">6.Graph</button>
            <div class="content">
                <p>
                </p>
            </div>
            </div>
            @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(x => x.course)
                <br /><button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

            }
        </div>
    </div>
