﻿@model IEnumerable<Archer.Models.ExamModel>
@{
                /**/

                ViewBag.Title = "Exam_Recruitment";
}
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../Content/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Online Exam Recruitment</h1>
                        <h2>We MAKE <I>IT</I> EASY <a href="http://freehtml5.co" target="_blank"></a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add your Details for updates</h4>
            </div>
            <div class="modal-body">
                @*<p>Register</p>*@
                @using (Html.BeginForm("Create", "VideoViewrs", FormMethod.Post, new { enctype = "multipart/form-data" }))
                { 
                    <form>
                        <div class="form-group">
                            <input type="text" name="Name" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="Contact" class="form-control" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Email" class="form-control" placeholder="Contact">
                        </div>

                        <button type="submit" class="btn btn-primary">Subscribe</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
<div id="fh5co-blog">
    <div class="container">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4">
                    <div class="fh5co-blog animate-box">
                        <a href="#"><img class="img-responsive" src="@Url.Content("~/Static/Images/ExamImages/" + item.id + "/" + @item.img)" alt=""></a>
                        <div class="blog-text">
                            <h3><a href="@Url.Action("DetailExaminfo", "Home", new { id = @item.id })">@item.info</a></h3>
                            
                        </div>
                    </div>
                </div>
                }
            }
        @*<div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="~/Content/images/exam.jpg" alt=""></a>
                    <div class="blog-text" style="background-color:darkgoldenrod">
                        <h3><a href="@Url.Action("DetailExaminfo", "Home")">TCS Ninja</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="~/Content/images/exam2.jpg" alt=""></a>
                    <div class="blog-text" style="background-color:darkgoldenrod">
                        <h3><a href="" #>infyTQ</a></h3>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        window.setInterval($("#myModal").modal('show'), 5000);

    });
</script>