﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Admission";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
@using (Html.BeginForm("Create", "Archer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="fh5co-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 animate-box">
                    <h3 class="card card-title">Form</h3>
                    <form action="#">
                        <div class="card card-body row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <!-- <label for="fname">First Name</label> -->
                                    @Html.Label("First name")
                                    @Html.TextBoxFor(x => x.fname, null, new { @class = "form-control" })
                                </div>
                                <div class="col-md-6">
                                    <!-- <label for="lname">Last Name</label> -->
                                    @*<input type="text" id="lname" class="form-control" placeholder="Your lastname">*@
                                    @Html.Label("Last Name")
                                    @Html.TextBoxFor(x => x.lname, null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <!-- <label for="email">Email</label> -->
                                    @Html.Label("Email")
                                    @Html.TextBoxFor(x => x.email, null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <!-- <label for="email">Email</label> -->
                                    @Html.Label("Address")
                                    @Html.TextBoxFor(x => x.add, null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <!-- <label for="subject">Subject</label> -->
                                    @Html.Label("Mobile Number")
                                    @Html.TextBoxFor(x => x.contact, null, new { @class = "form-control", @maxlength = "10",@placeholder="+91" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <!-- <label for="subject">Subject</label> -->
                                    @Html.Label("Course")
                                    @Html.TextBoxFor(x => x.course, null, new { @class = "form-control" })
                                    <br />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Register" class="btn btn-primary">
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
}

