﻿@{
    ViewBag.Title = "Gallary";
}

<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700'>
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../Content/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Gallary</h1>
                        <h2>We MAKE <I>IT</I> EASY <a href="http://freehtml5.co" target="_blank"></a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<style>
   body {
        font-family: 'Source Sans Pro', sans-serif;
    }

    #gridGallery {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }

    h2,
    .ms-WPBody h2 {
        color: #000;
    }

    .box h3 {
        color: #fff;
        font-family: 'Source Sans Pro';
        font-weight: 700;
    }

    section {
        margin: 25px 0;
    }

    #gridGallery .row {
        background-color: black;
    }

    .box {
        background-position: center center;
        background-size: cover;
        border: 1px solid #fff;
        transition: opacity;
        overflow: hidden;
    }

    .hiddenText {
        display: none !important;
    }

    .box:hover {
        cursor: pointer;
        z-index: 1;
    }

    #boxOne,
    #boxTwo,
    #boxSeven,
    #boxEight {
        height: 300px;
    }

    #boxThree,
    #boxFour,
    #boxFive,
    #boxSix {
        height: 150px;
    }

    #boxOne {
        background-image: url('http://www.ucdenver.edu/SiteCollectionImages/GridGallery/imageOne.jpg');
    }

    #boxEight {
        background-image: url('http://www.ucdenver.edu/SiteCollectionImages/GridGallery/imageEight.jpg');
    }

    #boxTwo {
        background-image: url('http://www.ucdenver.edu/SiteCollectionImages/GridGallery/imageTwo.jpg');
    }

    #boxSeven {
        background-image: url('http://www.ucdenver.edu/SiteCollectionImages/GridGallery/imageSeven.jpg');
    }

    #boxThree {
        background-image: url('http://www.ucdenver.edu/SiteCollectionImages/GridGallery/imageThree.jpg');
    }

    #boxSix {
        background-image: url('http://www.ucdenver.edu/SiteCollectionImages/GridGallery/imageSix.jpg');
    }

    #boxFour {
        background-image: url('http://www.ucdenver.edu/SiteCollectionImages/GridGallery/imageFour.jpg');
    }

    #boxFive {
        background-image: url('http://www.ucdenver.edu/SiteCollectionImages/GridGallery/imageFive.jpg');
    }

    .full {
        float: none;
        height: 600px !important;
        width: 1170px;
        position: absolute;
        z-index: 2;
    }

    #gridH {
        background-color: #eee;
        min-height: 600px;
        margin-bottom: 50px;
    }

        #gridH .row {
            margin-top: 150px;
        }

            #gridH .row .full {
                margin-top: -150px;
            }

    .full:hover {
        transform: scale(1);
        box-shadow: none;
    }

    
    .captionBox {
        background-color: rgba(0, 0, 0, 0.8);
        bottom: 50px;
        color: white;
        left: 50px;
        padding: 25px;
        position: absolute;
        opacity: 0;
    }

        .captionBox p {
            font-size: 16px;
            font-weight: 300;
        }

        .captionBox h3 {
            margin-top: 0;
            text-transform: uppercase;
        }

    .transition {
        transition: 1s;
    }

    .bottomRight {
        left: auto;
        right: 80px;
    }

    .topRight {
        left: auto;
        right: 50px;
        bottom: auto;
        top: 50px;
    }

    .topLeft {
        bottom: auto;
        top: 50px;
    }

    .toggleIcon {
        background-color: rgba(0, 0, 0, 0.7);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 26px 26px;
        border-radius: 3px;
        bottom: 15px;
        height: 36px;
        left: -100px;
        opacity: 0;
        padding: 10px;
        position: absolute;
        width: 36px;
    }

    .box.full .toggleIcon {
        background-color: rgba(0, 0, 0, 0.57);
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 3px;
        top: 26px;
        height: 36px;
        left: 50px;
        opacity: 0;
        padding: 10px;
        position: absolute;
        width: 36px;
    }

    .box:hover .toggleIcon {
        opacity: 1;
        left: 15px;
        transition: all 0.25s ease 0s;
        background-image: url('http://www.ucdenver.edu/SiteCollectionImages/GridGallery/openIcon.png');
    }

    .box.full .toggleIcon {
        opacity: 1;
        left: 50px;
        top: 26px;
        border-radius: 0;
        background-image: url('http://www.ucdenver.edu/SiteCollectionImages/GridGallery/closeIcon.png');
        background-size: 55%;
    }

        .box.full .toggleIcon:hover {
            background-color: black;
            transition: all 0s ease 0;
        }

    #gridGallery > .row {
        margin: 0;
    }

    @@media (max-width: 1200px) {
        .full {
            width: 970px;
        }
    }

    @@media (max-width: 992px) {
        .full {
            width: 750px;
        }
    }

    @@media (max-width: 768px) {
        #boxThree,
        #boxFour,
        #boxFive,
        #boxSix {
            height: 300px;
        }

        .toggleIcon {
            display: none;
        }

        .full .captionBox {
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;
            padding: 10px;
        }

            .full .captionBox p {
                display: none;
            }

            .full .captionBox h3 {
                margin-bottom: 0;
            }

        .box.full {
            height: inherit;
            width: 100%;
        }

        .box {
            max-height: 150px !important;
        }

        #gridGallery .row {
            background-color: transparent;
        }

        #gridH .row {
            margin-top: 0px;
        }

        .box.full .toggleIcon {
            height: 50px !important;
            left: 0 !important;
            top: 0 !important;
            width: 50px !important;
            display: block;
        }

        .mobileFunction {
            float: left;
            height: 150px;
            width: 100%;
        }
    }
</style>
<div id="fh5co-counter">
    <div class="container">
        <div class="row">
            <div class="carousel slide multi-item-carousel" id="theCarousel">
                <div class="carousel-inner" style="opacity:0.8">
                    <div class="item active">
                        <div class="col-xs-4 text-center fh5co-heading">
                            <img alt="picture" src="~/Content/images/student.jpg">
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-4">
                            <a href="#"><img src="~/Content/images/classroom.jpg" /></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-4">
                            <a href="#"><img src="~/Content/images/stud1.jpg" /></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-4">
                            <img src="~/Content/images/student1.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-4">
                            <img src="~/Content/images/institute.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-4">
                            <img src="~/Content/images/student2.jpg" />
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
        <section id="gridGallery" style="opacity:0.8">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-6 box" id="boxOne">
                        <div class="toggleIcon"></div>
                        <div class="col-sm-6 captionBox hiddenText">
                            <h3>Here is some text</h3>
                            <p>
                                Fixie banh mi blog, YOLO sriracha roof party mumblecore post-ironic. Keytar 90's cornhole drinking vinegar deep v, VHS messenger bag Pinterest. Etsy farm-to-table Intelligentsia Thundercats, pork belly vegan authentic single-origin coffee dreamcatcher
                                bespoke master cleanse street art art party.
                            </p>
                            <p>
                                Fixie banh mi blog, YOLO sriracha roof party mumblecore post-ironic. Keytar 90's cornhole drinking vinegar deep v, VHS messenger bag Pinterest. Etsy farm-to-table Intelligentsia Thundercats, pork belly vegan authentic single-origin coffee dreamcatcher
                                bespoke master cleanse street art art party.
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-3 col-xs-6 box" id="boxTwo">
                        <div class="toggleIcon"></div>
                        <div class="col-sm-6 captionBox hiddenText">
                            <h3>Here is some text</h3>
                            <p>
                                Fixie banh mi blog, YOLO sriracha roof party mumblecore post-ironic. Keytar 90's cornhole drinking vinegar deep v, VHS messenger bag Pinterest. Etsy farm-to-table Intelligentsia Thundercats, pork belly vegan authentic single-origin coffee dreamcatcher
                                bespoke master cleanse street art art party.
                            </p>
                        </div>

                    </div>

                    <div class="col-sm-3 col-xs-6 box" id="boxThree">
                        <div class="toggleIcon"></div>
                        <div class="col-sm-6 captionBox hiddenText">
                            <h3>Here is some text</h3>
                            <p>
                                Fixie banh mi blog, YOLO sriracha roof party mumblecore post-ironic. Keytar 90's cornhole drinking vinegar deep v, VHS messenger bag Pinterest. Etsy farm-to-table Intelligentsia Thundercats, pork belly vegan authentic single-origin coffee dreamcatcher
                                bespoke master cleanse street art art party.
                            </p>
                        </div>

                    </div>

                    <div class="col-sm-3 col-xs-6 box" id="boxFour">
                        <div class="toggleIcon"></div>
                        <div class="col-sm-6 captionBox hiddenText">
                            <h3>Here is some text</h3>
                            <p>
                                Fixie banh mi blog, YOLO sriracha roof party mumblecore post-ironic. Keytar 90's cornhole drinking vinegar deep v, VHS messenger bag Pinterest. Etsy farm-to-table Intelligentsia Thundercats, pork belly vegan authentic single-origin coffee dreamcatcher
                                bespoke master cleanse street art art party.
                            </p>
                        </div>

                    </div>

                    <div class="col-sm-6 col-xs-6 pull-right box" id="boxEight">
                        <div class="toggleIcon"></div>
                        <div class="col-sm-6 captionBox hiddenText">
                            <h3>Here is some text</h3>
                            <p>
                                Fixie banh mi blog, YOLO sriracha roof party mumblecore post-ironic. Keytar 90's cornhole drinking vinegar deep v, VHS messenger bag Pinterest. Etsy farm-to-table Intelligentsia Thundercats, pork belly vegan authentic single-origin coffee dreamcatcher
                                bespoke master cleanse street art art party.
                            </p>
                        </div>

                    </div>

                    <div class="col-sm-3 col-xs-6 pull-right box" id="boxSeven">
                        <div class="toggleIcon"></div>
                        <div class="col-sm-6 captionBox hiddenText">
                            <h3>Here is some text</h3>
                            <p>
                                Fixie banh mi blog, YOLO sriracha roof party mumblecore post-ironic. Keytar 90's cornhole drinking vinegar deep v, VHS messenger bag Pinterest. Etsy farm-to-table Intelligentsia Thundercats, pork belly vegan authentic single-origin coffee dreamcatcher
                                bespoke master cleanse street art art party.
                            </p>
                        </div>

                    </div>

                    <div class="col-sm-3 col-xs-6 box" id="boxFive">
                        <div class="toggleIcon"></div>
                        <div class="col-sm-6 captionBox hiddenText bottomRight">
                            <h3>Here is some text</h3>
                            <p>
                                Fixie banh mi blog, YOLO sriracha roof party mumblecore post-ironic. Keytar 90's cornhole drinking vinegar deep v, VHS messenger bag Pinterest. Etsy farm-to-table Intelligentsia Thundercats, pork belly vegan authentic single-origin coffee dreamcatcher
                                bespoke master cleanse street art art party.
                            </p>
                        </div>

                    </div>

                    <div class="col-sm-3 col-xs-6 box" id="boxSix">
                        <div class="toggleIcon"></div>
                        <div class="col-sm-6 captionBox hiddenText bottomRight">
                            <h3>Here is some text</h3>
                            <p>
                                Fixie banh mi blog, YOLO sriracha roof party mumblecore post-ironic. Keytar 90's cornhole drinking vinegar deep v, VHS messenger bag Pinterest. Etsy farm-to-table Intelligentsia Thundercats, pork belly vegan authentic single-origin coffee dreamcatcher
                                bespoke master cleanse street art art party.
                            </p>
                        </div>

                    </div>


                </div>
                <!--.row-->

            </div>
            <!--.container-->


        </section>
       
    </div>
</div>

@*<script>
    $(document).ready(function () {

        $(".box").on("click", function () {
            $(this).siblings().toggleClass("hidden");
            $(this).toggleClass("full");
            $(".captionBox").toggleClass("hiddenText");
            $(this).children().animate({
                opacity: "1"
            }, 500, function () { });
        });

        if ($(window).width() < 768) {
            $(".box").on("click", function () {
                $("#gridGallery").toggleClass("mobileFunction");
            });
        }

        if ($(window).width() >= 768) {

            $(".box").hover(function () {
                $(this).siblings().toggleClass("opacity");
            });

        }

        $(".horizontal").click(function () {
            $(this).toggleClass("full");
            $(".captionBox").toggleClass("hiddenText");
            $(this).children().animate({
                opacity: "1"
            }, 500, function () { });
        });

        $(".horizontal").hover(function () {
            $(this).siblings().toggleClass("opacity");
        });

    });
//# sourceURL=pen.js
</script>*@
