﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Hadoop";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Hadoop</h2>
        <p>
            Hadoop is an open-source software framework for storing data and running applications on clusters of
            commodity hardware. It provides massive storage for any kind of data, enormous processing power
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">
            <button class="collapsible">1. Introduction to Big Data</button>
            <div class="content">
                <p>Introduction</p>
            </div>


            <button class="collapsible">
                2.Hadoop Architecture and HDFS
            </button>
            <div class="content">
                <p>
                    What is Hadoop? Hadoop History, Distributing Processing System, Core<br />
                    Components of Hadoop, HDFS Architecture, Hadoop Master – Slave Architecture, Daemon<br />
                    types - Learn Name node, Data node, Secondary Name node.
                </p>
            </div>
            <button class="collapsible">3.Hadoop Clusters and the Hadoop Ecosystem</button>
            <div class="content">
                <p>
                    What is Hadoop Cluster? Pseudo Distributed mode, Type of clusters, Hadoop Ecosystem,
                    Pig, Hive, Oozie, Flume, SQOOP.
                </p>
            </div>
            <button class="collapsible">4.Hadoop MapReduce Framework</button>
            <div class="content">
                <p>
                    Overview of MapReduce Framework, MapReduce Architecture, Learn about Job
                    tracker and Task tracker, Use cases of MapReduce, Anatomy of MapReduce Program.
                </p>
            </div>
            <button class="collapsible">5.MapReduce programs in Java </button>
            <div class="content">
                <p>
                    Basic MapReduce API Concepts, Writing MapReduce Driver, Mappers, and<br />
                    Reducers in Java, Speeding up Hadoop Development by Using Eclipse, Unit Testing<br />
                    MapReduce Programs, and Demo on word count example.
                </p>
            </div>
            <button class="collapsible">6.Hive and HiveQL </button>
            <div class="content">
                <p>
                    What is Hive?, Hive vs MapReduce, Hive DDL – Create/Show/Drop Tables,<br />
                    Internal and External Tables, Hive DML – Load Files & Insert Data, Hive Architecture &<br />
                    Components, Difference between Hive and RDBMS, Partitions in Hive
                </p>
            </div>
            <button class="collapsible">7.PIG </button>
            <div class="content">
                <p>
                    PIG vs MapReduce, PIG Architecture & Data types, Shell and Utility components,<br />
                    PIG Latin Relational Operators, PIG Latin: File Loaders and UDF, Programming structure in<br />
                    UDF, PIG Jars Import, limitations of PIG.
                </p>
            </div>
            <button class="collapsible">
                8. Apache SQOOP, Flume
            </button>
            <div class="content">
                <p>
                    Why and what is SQOOP? SQOOP Architecture, Benefits of SQOOP, Importing<br />
                    Data Using SQOOP, Apache Flume Introduction, Flume Model and Goals, Features of<br />
                    Flume, Flume Use Case.
                </p>
            </div>
            <button class="collapsible">
                9. NoSQL Databases
            </button>
            <div class="content">
                <p>
                    What is HBase? HBase Architecture, HBase Components, Storage Model of HBase,<br />
                    HBase vs RDBMS, Introduction to Mongo DB, CRUD, Advantages of MongoDB over<br />
                    RDBMS, Use case.
                </p>
            </div>
            <button class="collapsible">
                10.Oozie and Zookeeper

            </button>
            <div class="content">
                <p>
                    Oozie – Simple/Complex Flow, Oozie Workflow, Oozie Components, Demo on<br />
                    Oozie Workflow in XML, What is Zookeeper? Features of Zookeeper, Zookeeper Data<br />
                    Model.
                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
        <br /><button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>