﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "HtmlDemo";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Html</h2>
        <p>
            HTML is short for Hypertext Markup Language. HTML is used to create electronic documents
            (called pages) that are displayed on the World Wide Web. Each page contains a series of
            connections to other pages called hyperlinks.
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">
                1.Web Programming Introduction
            </button>
            <div class="content">
                <p>Introduction</p>
            </div>


            <button class="collapsible">2.HTML-Introduction</button>
            <div class="content">
                <p>
                    History of HTML
                    What you need to do to get going and make your first HTML page
                    What are HTML Tags and Attributes?
                    HTML Tag vs. Element
                    HTML Attributes:
                    How to differentiate HTML Document Versions
                </p>
            </div>
            <button class="collapsible">
                3.HTML-Grouping Using Div Span
            </button>
            <div class="content">
                <p>Div and Span Tags for Grouping </p>
            </div>
            <button class="collapsible">4.HTML-Lists</button>
            <div class="content">
                <p>
                    Unordered Lists
                    Ordered Lists
                    Definition list
                </p>
            </div>
            <button class="collapsible">
                5.HTML-Images
            </button>
            <div class="content">
                <p>
                    Image and Image Mapping

                </p>
            </div>
            <button class="collapsible">
                6. HTML-Hyperlink
            </button>
            <div class="content">
                <p>
                    URL - Uniform Resource Locator
                    URL Encoding
                </p>
            </div>
            <button class="collapsible">
                7.HTML-Table
            </button>
            <div class="content">
                <p>
                    URL - Uniform Resource Locator
                    URL Encoding
                </p>
            </div>
            <button class="collapsible">
                8.HTML-Iframe
            </button>
            <div class="content">
                <p>
                    Attributes Using
                    Iframe as the Target
                </p>
            </div>
            <button class="collapsible">
                9.HTML-Form
            </button>
            <div class="content">
                <p>
                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
            <br /><button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>