﻿
@model IEnumerable<Archer.Models.TestmonialModel>



@{ ViewBag.Title = "Index"; Layout = "~/Views/Shared/_Layout.cshtml"; }



<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url('../Content/images/img_bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>The Art of Teaching is the Art of Assisting Discovery</h1>
                        <h2>We MAKE <I>IT</I> EASY <a href="#" target="_blank"></a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid proj-bottom">
    <div class=" text-center fh5co-heading">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                @*<h3>We Provided</h3>*@
            </div>
        </div>
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
            <a href="#" data-toggle="modal" data-target="#myModal1">
                <img src="~/Content/images/project-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3>Programming Essencial</h3>
                <span>View Course</span>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
            <a href="#" data-toggle="modal" data-target="#myModal2">
                <img src="~/Content/images/project-2.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3>Web Development</h3>
                <span>View Course</span>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
            <a href="#" data-toggle="modal" data-target="#myModal3">
                <img src="~/Content/images/project-3.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3>Java Technology</h3>
                <span>view Course</span>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
            <a href="#" data-toggle="modal" data-target="#myModal">
                <img src="~/Content/images/project-9.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3>Mobile Technolog</h3>
                <span>view Course</span>
            </a>

        </div>
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
            <a href="#" data-toggle="modal" data-target="#myModal4">
                <img src="~/Content/images/project-5.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3>CrossPlatform Technology</h3>
                <span>View Course</span>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
            <a href="#" data-toggle="modal" data-target="#myModal5">
                <img src="~/Content/images/project-6.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3>Latest Technology</h3>
                <span>View Course</span>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
            <a href="#" data-toggle="modal" data-target="#myModalme">
                <img src="~/Content/images/project-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3>DataBase</h3>
                <span>View Course</span>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
            <a href="#" data-toggle="modal" data-target="#myModalm">
                <img src="~/Content/images/project-2.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3>Embedded Technology</h3>
                <span>View Course</span>
            </a>
        </div>
    </div>
</div>

@*</div>*@
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Programming</h4>
            </div>
            <div class="modal-body">
                <p>
                    The source code of a program is written in one or more languages.
                    The purpose of programming is to find a sequence of instructions that will
                    automate the performance of a task on a computer, often for solving a given problem.
                </p>
                <a href="@Url.Action(" Course", "Home" )#ps" class="btn btn-primary">read more</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Web Development</h4>
            </div>
            <div class="modal-body">
                <p>
                    The web development process includes web design, web content development,
                    client-side/server-side scripting and network security configuration, among other tasks.
                </p>
                <a href="@Url.Action("Course", "Home")#wd" class="btn btn-primary">read more</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalme" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Data Base</h4>
            </div>
            <div class="modal-body">
                <p>
                    A database is a collection of information that is organized so that it can be easily accessed,
                    managed and updated. Data is organized into rows, columns and tables, and it is indexed to make
                    it easier to find relevant information.
                </p>
                <a href="@Url.Action("Course", "Home")#db" class="btn btn-primary">read more</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Embedded Technology</h4>
            </div>
            <div class="modal-body">
                <p>
                    An embedded system can be thought of as a computer hardware system having software embedded in it.
                    An embedded system can be an independent system or it can be a part of a large system.
                </p>
                <a href="@Url.Action("Course", "Home")#et" class="btn btn-primary">read more</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Java Technology</h4>
            </div>
            <div class="modal-body">
                <p>
                    The Java programming language requires the presence of a software platform in order for
                    compiled programs to be executed. Oracle supplies the Java platform for use with Java.
                    The Android SDK is an alternative software platform, used primarily for developing Android
                    applications with its own GUI system.
                </p>
                <a href="@Url.Action("Course", "Home")#jt" class="btn btn-primary">read more</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Mobile Technolog</h4>
            </div>
            <div class="modal-body">
                <p>
                    Mobile technology is the technology used for cellular communication. Mobile code-division
                    multiple access (CDMA) technology has evolved rapidly over the past few years. Mobile computing
                    by way of tablet computers are becoming more popular. Tablets are available on the 3G and 4G networks.
                </p>
                <a href="@Url.Action("Course", "Home")#mt" class="btn btn-primary">read more</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">CrossPlatform Technology</h4>
            </div>
            <div class="modal-body">
                <p>
                    Cross-platform mobile development is the creation of software applications that are compatible
                    with multiple mobile operating systems. Originally, the complexity of developing mobile apps was
                    compounded by the difficulty of building out a backend that worked across multiple platforms.
                </p>
                <a href="@Url.Action("Course", "Home")#ct" class="btn btn-primary">read more</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Latest Technology</h4>
            </div>
            <div class="modal-body">
                <p>

                </p>
                <a href="@Url.Action("Course", "Home")#lt" class="btn btn-primary">read more</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    @*<div class="row animate-box">*@
    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>Start A Course</h2>
    </div>
    @*</div>*@

    <div class="row bs-wizard animate-box" style="border-bottom:0;">

        <div class="col-xs-3 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum"><h4>Step 1</h4></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center"><p>Archer Entry</p></div>
        </div>

        <div class="col-xs-3 bs-wizard-step active">
            <!-- complete -->
            <div class="text-center bs-wizard-stepnum"><h4>Step 2</h4></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center"><p>Take Admission</p></div>
        </div>
        <div class="col-xs-3 bs-wizard-step active">
            @*<div class="col-xs-3 bs-wizard-step disabled">*@
            <!-- complete -->

            <div class="text-center bs-wizard-stepnum"><h4>Step 3</h4></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center"><p>Improve your Skill</p></div>
        </div>

        <div class="col-xs-3 bs-wizard-step disabled">
            <!-- active -->
            <div class="text-center bs-wizard-stepnum"><h4>Step 4</h4></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center"><p>Get Programming Knowledge</p></div>
        </div>
    </div>
</div>
@*<div id="fh5co-blog">*@
<div class="container">
    <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>High Profile Course</h2>
            @*<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>*@
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="fh5co-blog animate-box">
                <a href="#"><img class="img-responsive" src="~/Content/images/ANDROID.png" alt=""></a>
                <div class="blog-text">
                    <h3><a href="" #>Android</a></h3>
                    <p>
                        Join the Android fever with the best android training institute in Sangali.and
                        taste the flavour of success with us.
                    </p>
                    @*<a href="#" class="btn btn-primary">Read More</a>*@
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="fh5co-blog animate-box">
                <a href="#"><img class="img-responsive" src="~/Content/images/ios.png" alt=""></a>
                <div class="blog-text">
                    <h3><a href="" #>ios</a></h3>
                    <p>
                        iphone app development is currently the hottest technology.
                        we will give you perect knowledge with advance Version.
                    </p>
                    @*<a href="#" class="btn btn-primary">Read More</a>*@
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="fh5co-blog animate-box">
                <a href="#"><img class="img-responsive" src="~/Content/images/webdesign.png" alt=""></a>
                <div class="blog-text">
                    <h3><a href="" #>Web designing</a></h3>
                    <p>
                        Join the world of web development at Archer Infotech.
                        as we help you explore the creative new world of web-desiging and development.
                    </p>
                    @*<a href="#" class="btn btn-primary">Read More</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
@*</div>*@


<div class="container">
    <h2>Recent Post</h2>
    <div class="row animate-box">
        @*<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">*@
        <div class="carousel slide multi-item-carousel" id="theCarousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="col-xs-4 text-center fh5co-heading">
                        <div class="card">
                            <div class="card-img-top card-img-top-250">
                                <a href="#"><img src="~/content/images/project-4.jpg" class="img-responsive"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="col-xs-4"><a href="#"><img src="~/Content/images/project-2.jpg" class="img-responsive"></a></div>

                </div>

                <div class="item">
                    <div class="col-xs-4"><a href="#"><img src="~/Content/images/project-3.jpg" class="img-responsive"></a></div>

                </div>


            </div>
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
</div>
<div id="fh5co-counter" class="fh5co-counters">
    @*<div class="container">*@
    <div class="row">
        <div class="col-md-3 text-center animate-box">
            <span class="fh5co-counter js-counter" data-from="0" data-to="5000" data-speed="5000" data-refresh-interval="50"></span>
            <span class="fh5co-counter-label">Students</span>
        </div>
        <div class="col-md-3 text-center animate-box">
            <span class="fh5co-counter js-counter" data-from="0" data-to="30" data-speed="5000" data-refresh-interval="50"></span>
            <span class="fh5co-counter-label">Courses</span>
        </div>
        <div class="col-md-3 text-center animate-box">
            <span class="fh5co-counter js-counter" data-from="0" data-to="4" data-speed="5000" data-refresh-interval="50"></span>
            <span class="fh5co-counter-label">Instructor</span>
        </div>
        <div class="col-md-3 text-center animate-box">
            <span class="fh5co-counter js-counter" data-from="0" data-to="1000" data-speed="5000" data-refresh-interval="50"></span>
            <span class="fh5co-counter-label">Placement</span>
        </div>

    </div>
</div>
<div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Testimonials</h2>
            </div>
        </div>
        <div class="row">

          
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row animate-box">
                            <div class="owl-carousel owl-carousel-fullwidth">
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <div class="item">
                                            <div class="testimony-slide active text-center">
                                                <figure>
                                                    <img src="@Url.Content("~/Static/images/TestimonialImages/"+ @item.Id +"/" + @item.Image)" />
                                                </figure>
                                                <span>@item.Name, via <a href="#" class="twitter">Twitter</a></span>
                                                <blockquote>
                                                    <p>&ldquo;@item.Description.&rdquo;</p>
                                                </blockquote>
                                            </div>
                                        </div>
                                    }
                                }
                                </div>
                        </div>
                    </div>
                </div>
    </div>
</div>


