﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Ionic";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Ionic</h2>
        <p>
            Ionic uses Cordova plugins to gain access to host operating systems features such as Camera, GPS, Flashlight, etc<br />
            and they can then be customized for Android, iOS, Windows, or modern browsers. Users can build their apps,<br />
            Ionic allows you to build and deploy your apps by wrapping around the build tool Cordova with a simplified 'ionic' command line tool.
        </p>

        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">1.Intoduction</button>
            <div class="content">
                <p>Introduction</p>
            </div>


            <button class="collapsible">2.basic Concept of Ionic</button>
            <div class="content">
                <p>
                    Mobile Hybrid Architecture<br />
                    What is Apache Cordova?<br />
                    What is Ionic?<br />
                    Software setup

                </p>
            </div>
            <button class="collapsible">3. Ionic CSS Components and Navigation</button>
            <div class="content">
                <p>
                    Ionic CSS components<br />
                    The Ionic grid system<br />
                    The page structure<br />
                    Buttons<br />
                    Lists<br />
                    Cards<br />
                    Ionicons<br />
                    Form elements<br />
                    Integrating Ionic CSS components with AngularJS<br />
                    The Ionic router<br />
                    A simple two-page app
                </p>
            </div>
            <button class="collapsible">
                4. Ionic and SCSS
            </button>
            <div class="content">
                <p>
                    What is Sass?<br />
                    Setting up SCSS in our Ionic project<br />
                    The manual setup<br />
                    The Ionic CLI task<br />
                    Working with Ionic SCSS<br />
                    Basic swatch<br />
                    Understanding the Ionic SCSS setup<br />
                    Using variables and mixins<br />
                    The SCSS workflow
                </p>
            </div>
            <button class="collapsible">
                5.Ionic Directives and Services
            </button>
            <div class="content">
                <p>
                    Ionic directives and services<br />
                    The Ionic Platform service<br />
                    registerBackButtonAction<br />
                    The on method<br />
                    Headers and footers<br />
                    Content
                </p>
            </div>
            <button class="collapsible">
                6. Building a Messaging App
            </button>
            <div class="content">
                <p>
                    The Ionic Chat app<br />
                    Firebase<br />
                    Setting up a Firebase account<br />
                    AngularFire<br />
                    The application architecture<br />
                    Authentication<br />
                    The application flow<br />
                    Previewing the app<br />
                    Data structure<br />
                    Cordova plugins<br />
                    Code on GitHub<br />
                    Developing the application
                </p>
            </div>
            <button class="collapsible">
                7.Releasing the Ionic App
            </button>
            <div class="content">
                <p>
                    Preparing the app for distribution<br />
                    Setting up icons and splash screens<br />
                    Updating the config.xml file<br />
                      The PhoneGap service<br />
                      Generating installers using the Cordova CLI<br />
                    Android installer<br />
                    iOS installer<br />
                    The Ionic package<br />
                    Uploading the project to Ionic cloud<br />
                    Generating the required keys

                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
            <button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>