﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Ios";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Ios</h2>
        <p>
            iOS (formerly iPhone OS) is a mobile operating system created and developed by Apple Inc.
            exclusively for its hardware. It is the operating system that presently powers many of the
            company's mobile devices, including the iPhone, iPad, and iPod Touch.
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">1.Introduction to Mobile Application Development </button>
            <div class="content">
                <p>Introduction</p>
            </div>


            <button class="collapsible">2.Mobile OS</button>
            <div class="content">
                <p>Point 2</p>
            </div>
            <button class="collapsible">3.IOS Basics </button>
            <div class="content">
                <p>
                    What is IOS
                    IOS Architecture
                    Frameworks
                    MVC Design Pattern
                    Application Life Cycle
                    Features
                </p>
            </div>
            <button class="collapsible">4.Objective - C & Swift</button>
            <div class="content">
                <p>
                    Introduction to Objective-C
                    General Concepts of Objective-C
                    Introduction to Swift
                    General Concepts of Swift
                </p>
            </div>
            <button class="collapsible">5.Xcode</button>
            <div class="content">
                <p>
                    Introduction to Xcode
                    - Navigator
                    - Editor
                    - Utility
                    - Tools
                    - Console
                    - Document
                    Simulator
                    Instruments
                </p>
            </div>
            <button class="collapsible">6.Database</button>
            <div class="content">
                <p>
                    Plist
                    Preference
                    Sqlite
                </p>
            </div>
            <button class="collapsible">7.Web Service </button>
            <div class="content">
                <p>
                    Restful Web Service (JSON & XML)
                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
            <button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>
