﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Iot";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Iot</h2>
        <p>
            IoT is short for Internet of Things. The Internet of Things refers to the ever-growing network of
            physical objects that feature an IP address for internet connectivity, and the communication that
            occurs between these objects and other Internet-enabled devices and systems.
        </p>
        <h2>Syllabus</h2>

        <button class="collapsible">Intoduction</button>
        <div class="content">
            <p>Introduction</p>
        </div>


        <button class="collapsible">Point 2</button>
        <div class="content">
            <p>Point 2</p>
        </div>
        <button class="collapsible">Point 3</button>
        <div class="content">
            <p>Point 3</p>
        </div>
        <button class="collapsible">Point 4</button>
        <div class="content">
            <p>Point4</p>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
            <button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>

