﻿@model Archer.Models.ArcherModels
@{
                /**/

                ViewBag.Title = "Javat";
                Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Java</h2>
        <p>
            Oracle released a new version of Java as Java 8 in March 18, 2014. It was a revolutionary
            release of the Java for software development platform. It includes various upgrades to the
            Java programming, JVM, Tools and libraries.
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">1.Intoduction to Java programming</button>
            <div class="content">
                <p>
                    -The Java Virtual Machine
                    -Variables and data types
                    -Conditional and looping constructs
                    -Arrays
                </p>
            </div>


            <button class="collapsible">2.Java Classes and Objects</button>
            <div class="content">
                <p>
                    -Fields and Methods
                    -Constructors
                    -Overloading methods
                    -Garbage collection
                    -Nested classes
                </p>
            </div>
            <button class="collapsible">3.Inheritance</button>
            <div class="content">
                <p>
                    -Overriding methods
                    -Polymorphism
                    -Making methods and classes final
                    -Abstract classes and methods
                    -Interfaces
                </p>
            </div>
            <button class="collapsible">4.Exception handling with try-throw-catch-finally constructs</button>
            <div class="content">
                <p>-The Exception class</p>
            </div>
            <button class="collapsible">5. Wrapper classes</button>
            <div class="content">
                <p>
                    -Enumeration interface
                </p>
            </div>
            <button class="collapsible">5.Packages</button>
            <div class="content">
                <p>
                    -Package access
                    -Documentation comments
                </p>
            </div>
            <button class="collapsible">6.Applets</button>
            <div class="content">
                <p>
                    - Configuring applets
                    -Applet capabilities and restric
                </p>
            </div>
            <button class="collapsible">7.Basics of AWT and Swing</button>
            <div class="content">
                <p>
                    -Layout Managers
                    -Event Handling
                    -The Action Listener interface
                    -Panels
                    -Classes for various controls, such as label, choice, list,
                    Checkbox, etc.
                    -Dialogs and frames
                    -Using the adapter classes
                    -Graphics
                </p>
            </div>
            <button class="collapsible">6.Threads</button>
            <div class="content">
                <p>
                    Synchronization
                </p>
            </div>
            <button class="collapsible">7.The I/O Package</button>
            <div class="content">
                <p>
                    InputStream and OutputStream classes
                    Reader and Writer classes

                </p>
            </div>
            <button class="collapsible">
                8.Database connectivity with JDBC
            </button>
            <div class="content">
                <p>
                    Java security

                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
            <button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>
