﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "JavaScripts";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>JavaScript</h2>
        <p>
            JavaScript is a dynamic computer programming language. It is lightweight and most commonly
            used as a part of web pages, whose implementations allow client-side script to interact with
            the user and make dynamic pages.
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">1.Intoduction</button>
            <div class="content">
                <p>
                    JavaScript Introduction
                </p>
            </div>


            <button class="collapsible">2.Language Syntax</button>
            <div class="content">
                <p>Point 2</p>
            </div>
            <button class="collapsible">3.HTML Forms</button>
            <div class="content">
                <p>
                    HTML Document object Model<br />
                    Working with HTML form and its elements
                </p>
            </div>
            <button class="collapsible">4.HTML DOM</button>
            <div class="content">
                <p>
                    HTML Document object Model
                    Working with HTML form and its elements
                    Other Document Object Model
                </p>
            </div>
            <button class="collapsible">5.Cookies</button>
            <div class="content">
                <p>
                    Working with cookies

                </p>
            </div>
            <button class="collapsible">
                6.Working with Objects and Classes
            </button>
            <div class="content">
                <p>
                     Working with Objects
                     Call method in JavaScript
                     Inheritance in JavaScript using prototype
                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
           <br /> <button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>