﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Kotlin";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Kotlin</h2>
        <p>
            Kotlin is a cross-platform, statically typed, general-purpose programming language with type inference.
            Kotlin is designed to interoperate fully with Java, and the JVM version of its standard library depends on
            the Java Class Library, but type inference allows its syntax to be more concise.
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">1.Intoduction of Kotlin</button>
            <div class="content">
                <p>Introduction</p>
            </div>
            <button class="collapsible">2.classes & Object</button>
            <div class="content">
                <p>Point 2</p>
            </div>
            <button class="collapsible">3.Functions and Lambdas</button>
            <div class="content">
                <p>Point 3</p>
            </div>
            <button class="collapsible">4.Multiplatform Programming</button>
            <div class="content">
                <p>Point4</p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
            <br /><button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>