﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Mysql";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Mysql</h2>
        <p>
            MySQL is a freely available open source Relational Database Management System (RDBMS) that uses
            Structured Query Language (SQL).
        </p>
        <h2>Syllabus</h2>

        <button class="collapsible">Intoduction</button>
        <div class="content">
            <p>Introduction</p>
        </div>


        <button class="collapsible">Point 2</button>
        <div class="content">
            <p>Point 2</p>
        </div>
        <button class="collapsible">Point 3</button>
        <div class="content">
            <p>Point 3</p>
        </div>
        <button class="collapsible">Point 4</button>
        <div class="content">
            <p>Point4</p>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
            <button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>
