﻿@model IEnumerable<Archer.Models.OnlineCourcesModel>
@{
    ViewBag.Title = "OnlineCourses";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../Content/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Online Courses</h1>
                        <h2>We MAKE <I>IT</I> EASY <a href="http://freehtml5.co" target="_blank"></a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .checked {
            color: orange;
        }
        div.main-text {
            overflow-x: hidden;
            width: 300px;
            word-break :100;
        }

    </style>
</header>
<div id="fh5co-blog">
    <div class="container">
        <div class="row">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-4">
                        <div class="fh5co-blog animate-box">

                            <a href="#"><img class="img-responsive" src="@Url.Content("~/Static/Images/CourcesImages/"+item.id+"/" + @item.Image)" alt=""></a>
                            <div class="blog-text">
                                <h3><a href="" #>@item.Name</a></h3>
                                <span class="posted_on">@item.Postedon</span>
                                @*<span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>*@
                                <div class="main-text">
                                    <p>@item.Info</p>
                                    </div>
                                    <a href="@Url.Action("DetailCourse", "Home",new { id = @item.id })" class="btn btn-primary">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    @if (item.Ratings != null)
                                    {
                                        for (int i = 1; i < 6; i++)
                                        {
                                            if (i <= item.Ratings)
                                            {
                                                <span class="fa fa-star checked"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-star"></span>
                                            }

                                        }
                                    }
                                    <style>
                                        .checked {
                                            color: orange;
                                        }
                                    </style>
                                </div>
                            </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

