﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Oracle";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Oracle</h2>
        <p>
            An Oracle database is a collection of data treated as a unit. The purpose of a database is to store
            and retrieve related information.Oracle Database is the first database designed for enterprise grid
            computing, the most flexible and cost effective way to manage information and applications.
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">
            <button class="collapsible">1.Introductionto Oracle Databases</button>
            <div class="content">
                <p>
                    About Relational Databases
                    Schema Objects
                    Data Access
                    Transaction Management
                    Oracle Database Architecture
                    Oracle Database Documentation Roadmap
                </p>
            </div>


            <button class="collapsible">2.Table And Table clusters</button>
            <div class="content">
                <p>
                    Introduction of schema Objects
                    OverVie of tables
                    Overview of table cluster
                </p>
            </div>
            <button class="collapsible">3.Index And Index Organized table</button>
            <div class="content">
                <p>
                    Overview of Index
                    Overview of Index-Organized table
                </p>
            </div>
            <button class="collapsible">4.Partitions Views And other schema objects </button>
            <div class="content">
                <p>
                    Overview of partitions
                    Overview of Views
                    Overview of materialized
                </p>
            </div>
            <button class="collapsible">5.Data Integrity </button>
            <div class="content">
                <p>
                    Introduction of data Intigrity
                    Type of Integrity Constrains
                    states of Intigrity Constrains
                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
            <br /><button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>

