﻿@model Archer.Models.ArcherModels
@{
    /**/

    ViewBag.Title = "Php";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Php</h2>
        <p>
            PHP: Hypertext Preprocessor (or simply PHP) is a general-purpose programming language originally
            designed for web development.PHP code may be executed with a command line interface (CLI), embedded
            into HTML code, or it can be used in combination with various web template systems, web content
            management systems, and web frameworks.
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">1.Intoduction</button>
            <div class="content">
                <p>Introduction</p>
            </div>


            <button class="collapsible">2.Basic PHP Development</button>
            <div class="content">
                <p>
                    How PHP scripts work<br />
                    Basic PHP syntax<br />
                    PHP data types<br />
                    Operators<br />
                    Variable manipulation<br />
                    Dynamic variables<br />
                    Static vs. Dynamic Optimization
                </p>
            </div>
            <button class="collapsible">3.String Manipulation</button>
            <div class="content">
                <p>
                    Formatting String for Presentation<br />
                    Formatting String for Storage<br />
                    Joining and Splitting String<br />
                    Comparing String<br />
                    Matching and replace Substring
                </p>
            </div>
            <button class="collapsible">4.Control Structures</button>
            <div class="content">
                <p>Point4</p>
            </div>
            <button class="collapsible">5.Functions</button>
            <div class="content">
                <p>
                    What a function<br />
                    Creating a function<br />
                    Returning value from function<br />
                    User-defined functions<br />
                    Dynamic function calls<br />
                    Variable scope<br />
                    Function calls with the static statement
                </p>
            </div>
            <button class="collapsible">6.Working With The File System</button>
            <div class="content">
                <p>
                    Creating and deleting a file<br />
                    Reading and writing text files<br />
                    Working with directories in PHP<br />
                    Opening a file for writing, reading, or appending<br />
                    Writing Data to the file<br />
                    Reading characters
                </p>
            </div>
            <button class="collapsible">7.Working With Forms</button>
            <div class="content">
                <p>
                    Forms<br />
                    Super global variables<br />
                    Super global array<br />
                    A script to acquire user input<br />
                    Importing user input<br />
                    Accessing user input<br />
                    Combine HTML and PHP code<br />
                </p>
            </div>
            <button class="collapsible">8.Classes And Objects</button>
            <div class="content">
                <p>
                    Object oriented concepts<br />
                    Define a class<br />
                    Class attributes<br />
                    An Object<br />
                    Creating an object<br />
                    Object properties<br />
                    Object methods<br />
                    Object constructors and destructors<br />
                    Class constants<br />
                    Static method<br />
                    Class inheritance<br />
                    Abstract classes
                </p>
            </div>
            <button class="collapsible">9.Introduction To Database</button>
            <div class="content">
                <p>
                    What is RDBMS technology?<br />
                    Introduction to SQL<br />
                    Connecting to the MYSQL<br />
                    Selecting a database<br />
                    Adding data to a table<br />
                    Displaying returned data on Web pages<br />
                    Finding the number of rows
                </p>
            </div>
            <button class="collapsible">10.Cookies</button>
            <div class="content">
                <p>
                    What is a Cookie?<br />
                    Setting time in a cookie with PHP<br />
                    Deleting a cookie<br />
                    Creating session cookie<br />
                    Working with the query string<br />
                </p>
            </div>
            <button class="collapsible">11.Session</button>
            <div class="content">
                <p>
                    what is session?<br />
                    Starting a session<br />
                    Registering Session variables<br />
                    working with session variables<br />
                    destroying session<br />
                    passing session Ids<br />
                    encoding and decoding session variables<br />
                    How to increase session expire time<br />
                    How to work session without cookie?
                </p>
            </div>
            <button class="collapsible">12.Advance PHP techniques</button>
            <div class="content">
                <p>
                    Introduction about FTP/SMTP server<br />
                    Math functions<br />
                    File upload<br />
                    File Download<br />
                    E-mail with PHP<br />
                    PHP configuration file<br />
                    Error tacking and debugging
                </p>
            </div>
            <button class="collapsible">13.XML</button>
            <div class="content">
                <p>
                    Introduction to XML and its use.
                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
        <br /><button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>
