﻿@model IEnumerable<Archer.Models.ProjectModel>
@{
                /**/

                ViewBag.Title = "Projects";
                //Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>Archer Infotech</title>
    <link href="~/Content/css2/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js2/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/Content/css2/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <style>
        .fh5co-cover .overlay {
            background-color: #332525e0;
        }

        .fh5co-cover.fh5co-cover-sm {
            height: 200px;
        }

        #fh5co-started .overlay {
            background: rgba(0, 0, 0, 0.7);
        }
    </style>
    
</head>

<body>
    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../Content/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>

    </header>
    <!-- script-nav -->
    <script>
        $("span.menu").click(function () {
            $(".top-nav ul").slideToggle(500, function () {
            });
        });
    </script>

    <div class="clearfix"> </div>

    @*</div>
        </div>*@
    <!--content-->
    <div class="content">
        <div class="container">
            <div class="services" style="border:groove">
                @if (Model != null)
                {
                    int i = 0;
                    foreach (var item in Model)
                    {
                        if (i % 2 == 0)
                        {
                            <span class="ser-in"> </span>
                            <div class="service-grid-top">
                                <img class="img-responsive service-grid" src="@Url.Content("~/Static/Images/ProjectImages/"+item.id+"/" + @item.Image)" alt="" />
                                <div class="service-grid-left">
                                    <h5>@item.Heading</h5>
                                    <span>@item.Title</span>
                                    <p>@item.Praraghraph</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        }
                        else
                        {
                            <span class="ser-in-in"> </span>
                            <div class="service-grid-top">
                                <div class="service-grid-left left-services">
                                    <h5>@item.Heading</h5>
                                    <span>@item.Title</span>
                                    <p>@item.Praraghraph</p>
                                </div>
                                <img class="img-responsive service-grid-right" src="@Url.Content("~/Static/Images/ProjectImages/"+item.id+"/" + @item.Image)" alt="" />
                                <div class="clearfix"> </div>
                            </div>
                        }
                        i++;
                    }
                }
              
            </div>
        </div>
    </div>
    <!--footer-->
    @*<div class="footer">
            <div class="container">
                <div class="footer-class">
                    <div class="class-footer">
                        <ul>
                            <li><a href="index.html" class="scroll">HOMEPAGE</a>  <span>|</span> </li>
                            <li><a href="about.html" class="scroll">ABOUT US </a><span>|</span></li>
                            <li><a href="services.html" class="scroll">SERVICES</a>  <span>|</span></li>
                            <li><a href="project.html" class="scroll">PROJECTS</a> <span>|</span></li>
                            <li><a href="references.html" class="scroll">REFERENCES</a> <span>|</span></li>
                            <li><a href="blog.html" class="scroll">BLOG </a><span>|</span></li>
                            <li><a href="contact.html" class="scroll">CONTACT US </a></li>
                        </ul>
                        <p class="footer-grid">&copy; 2014 Template by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
                    </div>
                    <ul class="social-ic-icons">
                        <li class="facebook"><a href="#"><span> </span></a></li>
                        <li class="twitter"><a href="#"><span> </span></a></li>
                        <li class="inline"><a href="#"><span> </span></a></li>
                        <li class="camera"><a href="#"><span> </span></a></li>
                        <li class="been"><a href="#"><span> </span></a></li>
                        <li class="print"><a href="#"><span> </span></a></li>
                        <li class="skype"><a href="#"><span> </span></a></li>
                        <li class="gmail"><a href="#"><span> </span></a></li>

                    </ul>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>*@
</body>
</html>

