﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Python";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Python</h2>
        <p>
            Python is an interpreted, high-level, general-purpose programming language.
            Created by Guido van Rossum and first released in 1991, Python has a design
            philosophy that emphasizes code readability, notably using significant whitespace.
            It provides constructs that enable clear programming on both small and large scales
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">1.Introduction To Python</button>
            <div class="content">
                <p>
                    Installation and Working with Python
                    Understanding Python variables
                    Python basic Operators
                    Understanding python blocks
                </p>
            </div>


            <button class="collapsible">
                2.Python Data Types

            </button>
            <div class="content">
                <p>
                    Declaring and using Numeric data types: int, float, complex
                    Using string data type and string operations
                    Defining list and list slicing
                    Use of Tuple data type
                </p>
            </div>
            <button class="collapsible">3.Python Program Flow Control</button>
            <div class="content">
                <p>
                    Conditional blocks using if, else and elif
                    Simple for loops in python
                    For loop using ranges, string, list and dictionaries
                    Use of while loops in python
                    Loop manipulation using pass, continue, break and else
                    Programming using Python conditional and loops block
                </p>
            </div>
            <button class="collapsible">5.Python String, List And Dictionary Manipulations</button>
            <div class="content">
                <p>
                    OBuilding blocks of python programs
                    Understanding string in build methods
                    List manipulation using in build methods
                    Dictionary manipulation
                    Programming using string, list and dictionary in build functions
                </p>
            </div>
            <button class="collapsible">6.Python File Operation</button>
            <div class="content">
                <p>
                    Reading config files in python
                    Writing log files in python
                    Understanding read functions, read(), readline() and readlines()
                    Understanding write functions, write() and writelines()
                    Manipulating file pointer using seek
                    Programming using file operations
                </p>
            </div>
            <button class="collapsible">7.Python Object Oriented Programming – Oops</button>
            <div class="content">
                <p>
                    Concept of class, object and instances
                    Constructor, class attributes and destructors
                    Real time use of class in live projects
                    Inheritance , overlapping and overloading operators
                    Adding and retrieving dynamic attributes of classes
                    Programming using Oops support

                </p>
            </div>
            <button class="collapsible">8.Python Regular Expression</button>
            <div class="content">
                <p>
                    Powerful pattern matching and searching
                    Power of pattern searching using regex in python
                    Real time parsing of networking or system data using regex
                    Password, email, url validation using regular expression
                    Pattern finding programs using regular expression

                </p>
            </div>
            <button class="collapsible">
                9.Python Exception Handling
            </button>
            <div class="content">
                <p>
                    Avoiding code break using exception handling
                    Safe guarding file operation using exception handling
                    Handling and helping developer with error code
                    Programming using Exception handling
                </p>
            </div>
            <button class="collapsible">
                10: Python Database Interaction
            </button>
            <div class="content">
                <p>
                    SQL Database connection using python
                    Creating and searching tables
                    Reading and storing config information on database
                    Programming using database connections
                </p>
            </div>
            <button class="collapsible">
                11.Contacting User Through Emails Using Python
            </button>
            <div class="content">
                <p>
                    Installing smtp python module
                    Sending email
                    Reading from file and sending emails to all users addressing them
                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
           <br /> <button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>
