﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Rasberry";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Rasberry</h2>
        <p>
            The Raspberry pi is a single computer board with credit card size, that can be used for many
            tasks that your computer does, like games, word processing, spreadsheets and also to play HD
            video.
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">1.Introduction to RPi</button>
            <div class="content">
                <p>
                    Board
                    ARM SoC (system-on-chip) architecture
                    Hardware interfaces
                </p>
            </div>


            <button class="collapsible">2.Software for RPi</button>
            <div class="content">
                <p>Raspbian OS (Linux Desktop)</p>
            </div>
            <button class="collapsible">3.Hands-on Projects</button>
            <div class="content">
                <p>
                    setting up the RPi – Raspbian OS<br />
                    Booting the RPi<br />
                    networking the RPi<br />
                    File-sharing on the RPi<br />
                    Audio playback on the RPi<br />
                    Video playback on the RPi<br />
                    connecting a USB webcam<br />
                    video streaming on the RPi.
                </p>
            </div>
            <button class="collapsible">4.Raspberry Pi Cabling/Setup/Startup</button>
            <div class="content">
                <p>
                    Cable connections<br />
                    Preparing the SD card<br />
                    Install the operating system<br />
                    Explore the Linux OS
                </p>
            </div>
            <button class="collapsible">
                5.Basic Programming of the Pi
            </button>
            <div class="content">
                <p>
                    Hello World<br />
                    Access the World Wide Web<br />
                    Play audio<br />
                    Control Peripherals with a Pi<br />
                    Control LEDs<br />
                    Get switch feedback<br />
                    Get the temperature<br />
                    Detect light

                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
            <br /><button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>
