﻿@model Archer.Models.ArcherModels

@{
    ViewBag.Title = "Rdbms";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Rdbms</h2>

        <p>
            RDBMS. ... A relational database refers to a database that stores data in a structured format,
            using rows and columns. This makes it easy to locate and access specific values within the database.
            It is "relational" because the values within each table are related to each other.
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">
            <h2>Syllabus</h2>

            <button class="collapsible">Intoduction</button>
            <div class="content">
                <p>Introduction</p>
            </div>


            <button class="collapsible">Point 2</button>
            <div class="content">
                <p>Point 2</p>
            </div>
            <button class="collapsible">Point 3</button>
            <div class="content">
                <p>Point 3</p>
            </div>
            <button class="collapsible">Point 4</button>
            <div class="content">
                <p>Point4</p>
            </div>
        </div>
            @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(x => x.course)
                <button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

            }
        </div>
    </div>