﻿@model Archer.Models.ArcherModels
@{

    ViewBag.Title = "ReactNative";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>ReactNative</h2>
        <p>
            Kotlin is an awesome language. ... It is arguably the language of choice for Android developers and
            very familiar to iOS developers. React Native enables us to write only once for multiple platforms,
            has a simpler API than native development and a smooth learning curve.
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">1.Intoduction</button>
            <div class="content">
                <p>Introduction</p>
            </div>
            <button class="collapsible">2.React basics</button>
            <div class="content">
                <p>Point 2</p>
            </div>
            <button class="collapsible">3.Understanding React Native Development</button>
            <div class="content">
                <p>Point 3</p>
            </div>
            <button class="collapsible">4.Advanced React Native Components</button>
            <div class="content">
                <p>Point4</p>
            </div>
            <button class="collapsible">5.Understanding State Management</button>
            <div class="content">
                <p>Point5</p>
            </div>
            <button class="collapsible">6.Navigation</button>
            <div class="content">
                <p>Point6</p>
            </div>
            <button class="collapsible">7.Integrating APIs</button>
            <div class="content">
                <p>Point7</p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
           <br /> <button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>