﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Saas";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Sass</h2>
        <p>
            The term "Software as a Service" (SaaS) is considered to be part of the nomenclature of cloud computing,
            along with Infrastructure as a Service (IaaS), Platform as a Service (PaaS), Desktop as a Service (DaaS),
            managed software as a service (MSaaS), mobile backend as a service (MBaaS), and information technology ..
        </p>

        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">1.Sass Overview</button>
            <div class="content">
                <p>Introduction</p>
            </div>


            <button class="collapsible">2.setup</button>
            <div class="content">
                <p>setup</p>
            </div>
            <button class="collapsible">3.Variables</button>
            <div class="content">
                <p>Variables</p>
            </div>
            <button class="collapsible">4.Parcials</button>
            <div class="content">
                <p>Parcials</p>
            </div>
            <button class="collapsible">5.Mixins</button>
            <div class="content">
                <p>Mixins</p>
            </div>
            <button class="collapsible">6.Imports</button>
            <div class="content">
                <p>Imports</p>
            </div>
            <button class="collapsible">7.Operators</button>
            <div class="content">
                <p>Imports</p>
            </div>
            <button class="collapsible">8.Functions</button>
            <div class="content">
                <p>Imports</p>
            </div>
            <button class="collapsible">9.Inheritance</button>
            <div class="content">
                <p>Inheritance</p>
            </div>
            <button class="collapsible">9.Codiditional Directives</button>
            <div class="content">
                <p>Codiditional Directives</p>
            </div>
            <button class="collapsible">9.Sass Framework</button>
            <div class="content">
                <p>Sass Framework</p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
            <br /><button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>
