﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Sql";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Sql</h2>
        <p>
            SQL stands for Structured Query Language. SQL statements are used to perform tasks such as update
            data on a database, or retrieve data from a database. Some common relational database management
            systems that use SQL are: Oracle, Sybase, Microsoft SQL Server, Access, Ingres, etc.
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">Intoduction to SQL</button>
            <div class="content">
                <p>SQL data access
                    SQL Standards</p>
            </div>


            <button class="collapsible">2.OverView of SQL statements</button>
            <div class="content">
                <p>Point 2</p>
            </div>
            <button class="collapsible">3.Overview of Optimizer</button>
            <div class="content">
                <p>Point 3</p>
            </div>
            <button class="collapsible">4.Overview of SQL Processing
            </button>
            <div class="content">
                <p>Point4</p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
            <button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>