﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Tableau";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Tableau</h2>
        <p>
            The Tableau Reader is a free desktop application that can be directly deployed for working
            with the various Tableau data visualization. The Tableau Reader is directly built in the Tableau Desktop.
            Using the Tableau Reader you can do a lot of tasks like drilling down data, discovering data and filtering
            of data.
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">
            <button class="collapsible">1.Intoduction</button>
            <div class="content">
                <p>
                    Components Overview<br />
                    Tableau Architecture<br />
                    Server Management<br />
                    Data Flow
                </p>
            </div>
            <button class="collapsible">2.Getting Started</button>
            <div class="content">
                <p>
                    Getting Started<br />
                    The Tableau Interface<br />
                    Distributing and Publishing
                </p>
            </div>
            <button class="collapsible">3.Connecting to Data</button>
            <div class="content">
                <p>
                    Getting Started with Data<br />
                    Connecting to Databases and Advanced Features<br />
                    Data Prep with Text and Excel Files<br />
                    Editing Data Connections and Data Sources<br />
                    Editing Metadata and Saving Data Sources<br />
                    Using and Refreshing Extracts<br />
                    Join Types<br />
                    Additional Data Blending Topics<br />
                    Data Blending<br />
                    Connecting to Google Analytics
                </p>
            </div>
            <button class="collapsible">4.Visual Analytics</button>
            <div class="content">
                <p>
                    Getting Started with Visual Analytics<br />
                    Drill Down and Hierarchies<br />
                    Sorting<br />
                    Grouping<br />
                    Additional Ways to Group<br />
                    Creating Sets<br />
                    Working with Sets<br />
                    Ways to Filter<br />
                    Using the Filter Shelf<br />
                    Quick Filters<br />
                    Where Tableau Filters<br />
                    Filtering for Top and Top N<br />
                    Additional Filtering Topics<br />
                    Parameters<br />
                    Formatting<br />
                    The Formatting Pane<br />
                    Trend Lines<br />
                    Reference Lines<br />
                    Forecasting
                </p>
            </div>
            <button class="collapsible">4.Mapping</button>
            <div class="content">
                <p>
                    Getting Started with Mapping<br />
                    Maps in Tableau<br />
                    Editing Unrecognized Locations<br />
                    Expanding Tableau's Mapping Capabilities<br />
                    Custom Geocoding<br />
                    Polygon Maps<br />
                    WMS: Web Mapping Services<br />
                    Background Images
                </p>
            </div>
            <button class="collapsible">5.Calculations</button>
            <div class="content">
                <p>
                    GeGetting Started with Calculations<br />
                    Calculation Syntax<br />
                    Introduction to LOD Expressions<br />
                    Intro to Table Calculations<br />
                    Modifying Table Calculations<br />
                    Aggregate Calculations<br />
                    Date Calculations<br />
                    Logic Calculations<br />
                    Number Calculations<br />
                    String Calculations<br />
                    Type Calculations<br />
                    Parameters<br />
                    Conceptual Topics with LOD Expressions<br />
                    Aggregation and Replication with LOD Expressions<br />
                    Nested LOD Expressions
                </p>
            </div>
            <button class="collapsible">6.Dashboards and Stories</button>
            <div class="content">
                <p>
                    Getting Started with Dashboards and Stories<br />
                    Building a Dashboard<br />
                    Dashboard Layouts and Formatting<br />
                    Dashboard Interactivity using Actions<br />
                    Dashboard Best Practices<br />
                    Story Points
                </p>
            </div>
            <button class="collapsible">7.Tableau Serverries</button>
            <div class="content">
                <p>
                    Tableau Server
                </p>
            </div>
        </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
        <br /> <button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>