﻿@model Archer.Models.ArcherModels
@{
    ViewBag.Title = "Xamrin";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="fh5co-blog">
    <div class="container">
        <h2>Xamrin</h2>
        <p>
            Xamarin is a Microsoft-owned San Francisco-based software company founded in May 2011 by the engineers
            that created Mono, Xamarin.Android (formerly Mono for Android) and Xamarin.iOS (formerly MonoTouch),
            which are cross-platform implementations of the Common Language Infrastructure (CLI).
        </p>
        <a href="#demo" class="btn btn-info" data-toggle="collapse">Syllabus</a>
        <div id="demo" class="collapse">

            <button class="collapsible">1.Intoduction to Xamarin.Forms</button>
            <div class="content">
                <p>
                    What Is Xamarin Forms?<br />
                    Cross-platform mobile development<br />
                    Xamarin vs. Xamarin.Forms<br />
                    Developing Environment<br />
                    Visual Studio<br />
                    Xamarin studio
                </p>
            </div>
            <button class="collapsible">
                2.First Application on Xamarin.Forms
            </button>
            <div class="content">
                <p>Point 2</p>
            </div>
            <button class="collapsible">3.Controls</button>
            <div class="content">
                <p>
                    -Pages<br />
                    ContentPage<br />
                    Navigation Page<br />
                    Tabbed page<br />
                    master-details<br />
                    carouselPage<br />
                    -Layouts<br />
                    The Kinds and Purposes of Layouts<br />
                    StackLayout<br />
                    RelativeLayout<br />
                    AbsoluteLayout<br />
                    - Views<br />
                    - cells
                </p>
            </div>
            <button class="collapsible">4.XAML</button>
            <div class="content">
                <p>
                    XAML Basics<br />
                    XAML Compilation<br />
                    XAML Namespaces<br />
                </p>
            </div>
            <button class="collapsible">5.user Interface</button>
            <div class="content">
                <p>
                    -]Navigation<br />
                    -Styles<br />
                    Introduction<br />
                    Explicit Styles<br />
                    Implicit Styles<br />
                    GobalStyles<br />
                    - ListView<br />
                    - Maps
                </p>
            </div>
            <button class="collapsible">6.Themes</button>
            <div class="content">
                <p>
                    Light Theme<br />
                    Dark Theme<br />
                    Creating a Custom Theme
                </p>
            </div>
            <button class="collapsible">7.Database Access</button>
            <div class="content">
                <p>
                    Light Theme<br />
                    Dark Theme<br />
                    Creating a Custom Theme
                </p>
            </div>
            <button class="collapsible">8.Webservices</button>
            <div class="content">
                <p>
                    Consuming Rest Service<br />
                    Working with network resources like HTTPs, JSON, Cloud Services

                </p>
            </div>
       
        <button class="collapsible">
            9.App Deployment
        </button>
        <div class="content">
            <p>
            </p>
        </div>
        <button class="collapsible">
            10.Xamarin UI Test and Xamarin Test cloud
        </button>
        <div class="content">
            <p>
                Xamarin.UITest, an Automated UI Acceptance Testing framework based on Calabash that allows<br />
                programmers to write and execute tests in C# and NUnit that validate the functionality of iOS and Android
                Apps.
            </p>
        </div>
    </div>
        @using (Html.BeginForm("Formfill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.course)
            <br /><button type="submit" class="btn btn-success pull-right" data-toggle="collapse" data-target="#demo">Register</button>

        }
    </div>
</div>