﻿@model IEnumerable<Archer.Models.SubjectWithChannel>
@{
    /**/

    ViewBag.Title = "Youtube";
}

<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../Content/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Online Video</h1>
                        <h2>We MAKE <I>IT</I> EASY <a href="http://freehtml5.co" target="_blank"></a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                if (item.channels.Count() > 0)
                {
                <br />

                <h3 class="text-center"><strong>@item.subjectName</strong></h3>
                <div class="row">
                    @foreach (var channel in item.channels)
                    {
                    <div class="col-md-4 ">
                        
                        <iframe  width="100%" height="230" src=@channel.YouTube_Link frameborder="0" allowfullscreen></iframe>
                        <label class="form-control label-warning text-center">@channel.Title</label>
                    </div>
                    }

                </div>
                }
            }
        }
    </div>
</div><br />
