﻿@model Archer.Models.TrainingModel
<div class="row form-group">
    <div class="col-md-6">
        <label>Training Date<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.dt, new { @class = "form-control datepicker", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.dt, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>
            Training Place<span class="text-danger"> *</span>
        </label>
        @Html.TextBoxFor(x => x.place, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.place, "", new { @class = "text-danger" })
    </div>
    </div>
<div class="row form-group">
    <div class="col-md-6">
        <label>Training Subject<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.subject, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.subject, "", new { @class = "text-danger" })
    </div>
</div>
<script>
    $('#dt').datepicker({
        dateFormat: 'MM/dd/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2000'
    });
</script>
