﻿@model Archer.Models.LoginViewModel
@{
    Layout = null;
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #17a2b8;
        height: 100vh;
    }

    #login .container #login-row #login-column #login-box {
        margin-top: 120px;
        max-width: 600px;
        height: 341px;
        border: 1px solid #9C9C9C;
        background-color: #EAEAEA;
    }

        #login .container #login-row #login-column #login-box #login-form {
            padding: 20px;
        }

            #login .container #login-row #login-column #login-box #login-form #register-link {
                margin-top: -85px;
            }
</style>
<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-5">
                <div id="login-box" class="col-md-12">
                    @using (Html.BeginForm("LoginWindow", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <form id="login-form" class="form" action="" method="post">
                            <br />
                            <h3 class="text-center text-info">Login</h3>
                            @if (@TempData != null)
                            {
                                var val = @TempData["WrongPasss"];
                                <p style="color:orangered">@val</p>
                            }
                            <div class="form-group">
                                <label for="username" class="text-info">User Name:</label><br>
                                @Html.TextBoxFor(x => x.UserName, null, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                @Html.TextBoxFor(x => x.Password, null, new { @class = "form-control", @type = "password" })
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Submit">                                
                            </div>                            
                        </form>
                    }
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
