﻿@model Archer.Models.BatchModel
<div class="row form-group">
    <div class="col-md-6">
        <label>Subject<span class="text-danger"> *</span></label>
        @Html.DropDownList("Subject", (IEnumerable<SelectListItem>)ViewBag.subject, "Select Subject", new { @class = "form-control", @id = "states" })
        @Html.ValidationMessageFor(model => model.subject, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>Batch Name<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.batchname, new { @class = "form-control" , autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.batchname, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>
            Time<span class="text-danger"> *</span>
        </label>
        @Html.TextBoxFor(x => x.time, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.time, "", new { @class = "text-danger" })
    </div>

</div>

