﻿@model Archer.Models.ProjectModel
<div class="row form-group">
    <div class="col-md-6">
        <label>Heading<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.Heading, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.Heading, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label>
            Title<span class="text-danger"> *</span>
        </label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6">
        <label>Discription<span class="text-danger"> *</span></label>
        @Html.TextBoxFor(x => x.Praraghraph, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.Praraghraph, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.Label("Project Image")
    @if (Model != null)
    {
        if (!string.IsNullOrEmpty(Model.Image))
        {
            <img src="@Url.Content("~/Static/Images/ProjectImages/" + Model.id + "/" + Model.Image)" height="80" width="80">
            <input type="file" accept=".jpg,.jpeg,.pdf" id="ProfilePic" name="image" />
        }
        else
        {
            <input type="file" accept=".jpg,.jpeg,.pdf" id="ProfilePic" name="image" />
        }
    }
    else
    {
        <input type="file" accept=".jpg,.jpeg,.pdf" id="ProfilePic" name="image" />
    }
</div>
